real-time-database/real-time-database-ingest.snapshot
{
  "header" : {
    "dataModelVersion" : "2"
  },
  "content" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "5678f6e1-5b42-3a6f-993b-a9e7aabe5cfb",
        "name" : "ReplaceText",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "f194f695-fc6c-3a74-b30b-28275a8cffbf",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "sql" ],
      "source" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "822cf0ea-f06a-323a-805a-7c225c78021b",
        "name" : "CreateSQLOrderUpdate",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "89494ff7-c9ad-30ea-adc0-0974044099e7",
        "name" : "PutSQL",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "42a3b5c2-2cf9-39df-a936-54231765b919",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "5678f6e1-5b42-3a6f-993b-a9e7aabe5cfb",
        "name" : "ReplaceText",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "89494ff7-c9ad-30ea-adc0-0974044099e7",
        "name" : "PutSQL",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "616a8766-b801-3beb-8477-84dda4e393ae",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "d5abc427-809c-3054-8712-c692feda8550",
        "name" : "ReplaceText",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "4bbcc75d-7c5e-306f-ab5e-20dce5b31416",
        "name" : "AttributesToJSON",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "d5a699fa-470e-38d9-9218-e92d5596d4bb",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "f6e902da-9537-3565-8478-f9deb334b919",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "d5abc427-809c-3054-8712-c692feda8550",
        "name" : "ReplaceText",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "348b9032-b4ab-3e13-a55c-39495bbd05eb",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "c3e2f807-677a-39f6-a9b5-568cae2bb462",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "c172bad2-9f5d-3797-9e3c-b3c5eaf4ef02",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "89fecad5-4b72-3450-bdee-37a8ab0699d8",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "56c391e1-7fcc-36ff-8460-faac5e16c3e9",
        "name" : "HandleHttpRequest",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "12452f24-a31f-3400-8454-dd802ab45f84",
        "name" : "PutHDFS",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "6c7a9323-601a-3fe5-9cc0-4352a5fde93d",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure", "dropped" ],
      "source" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "9a2340ec-48b7-3d04-8c2b-3b40eff17fc2",
        "name" : "PutDruidRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "f2548349-5db0-3610-8505-e1f455c1850a",
        "name" : "ConvertRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "bfb1a0a6-8c9d-3c00-bbe9-9ae2aeb02a36",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "4bbcc75d-7c5e-306f-ab5e-20dce5b31416",
        "name" : "AttributesToJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "03250461-bb48-359e-9c3c-13815bfc0cfd",
        "name" : "ConvertAvroToORC",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "2c236143-3729-3519-8ea8-08a6e821976a",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "merged" ],
      "source" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "6ab618b8-662c-3252-92b7-a1b1d4d40763",
        "name" : "MergeContent",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "f6e902da-9537-3565-8478-f9deb334b919",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "5c1eb116-bf2c-396e-ad77-ef59cef20e30",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "a7bfeb63-38a1-39b4-91a2-bf464ec10210",
        "name" : "ingest-in",
        "type" : "INPUT_PORT"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 1000000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "a93f0d40-9389-3266-a0ec-508a5412bee5",
        "name" : "MergeRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "c59a4d43-e6f4-3a91-b828-e424096c523d",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "2e118523-6223-31c6-bcbc-2fb315866b40",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "5b617ced-341d-3b45-bfa4-32259ee9299d",
        "name" : "ConvertAvroToJSON",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "d967619e-2f28-368d-8352-e2a2eaa95123",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "36c3fe92-8704-39f2-a91e-a9d1ac1d920b",
        "name" : "ExecuteSQL",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 100000000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "6ab618b8-662c-3252-92b7-a1b1d4d40763",
        "name" : "MergeContent",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "beb2adf8-ee3e-3fac-bdf1-afcd25e8e269",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "f49a8d44-10df-3822-83f9-b72a2ea146d3",
        "name" : "ConvertRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "b9368b81-c6b8-3392-9ef9-b8ab17c19ca6",
        "name" : "HandleHttpResponse",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "fe0a191b-7cad-339c-a9d3-23c573cafe1c",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "5b617ced-341d-3b45-bfa4-32259ee9299d",
        "name" : "ConvertAvroToJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "604d49b0-ebea-3790-b0c4-39577f170d51",
        "name" : "PublishKafkaRecord_1_0",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "0b187195-5da8-312b-a3fa-65965b9bfa8a",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "modify_schema" ],
      "source" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "7e7283b1-32d6-3d41-863a-d5cbebd22b3c",
        "name" : "QueryRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "822cf0ea-f06a-323a-805a-7c225c78021b",
        "name" : "CreateSQLOrderUpdate",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "baa17777-d401-3bc4-9174-73ef62e05380",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "f2548349-5db0-3610-8505-e1f455c1850a",
        "name" : "ConvertRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "2e118523-6223-31c6-bcbc-2fb315866b40",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "20d11a46-f5a4-30c9-a639-c17dcc9762b5",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "4bbcc75d-7c5e-306f-ab5e-20dce5b31416",
        "name" : "AttributesToJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "9a2340ec-48b7-3d04-8c2b-3b40eff17fc2",
        "name" : "PutDruidRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "2122dffc-8637-3854-96d1-1e26b25ad2f9",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "merged" ],
      "source" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "a93f0d40-9389-3266-a0ec-508a5412bee5",
        "name" : "MergeRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "1edfcd78-5576-341b-8364-b6b682615671",
        "name" : "CreateOrderbookPhoenixTable",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "8563f79e-9608-303d-8ea7-63804dd6d6a9",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "01e8df7e-999c-3db7-aabb-067e57c46757",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "8aace385-c1d2-3280-9076-066c38e31304",
        "name" : "PutS3Object",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "cd0a9b36-a56a-3f44-a244-348db6a88b8c",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "03250461-bb48-359e-9c3c-13815bfc0cfd",
        "name" : "ConvertAvroToORC",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "36c3fe92-8704-39f2-a91e-a9d1ac1d920b",
        "name" : "ExecuteSQL",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "49f7e5a8-a14a-3d12-ace9-670a6abb56d1",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "c172bad2-9f5d-3797-9e3c-b3c5eaf4ef02",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 1000000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "7e7283b1-32d6-3d41-863a-d5cbebd22b3c",
        "name" : "QueryRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "2faaca98-f01e-34a8-b4c6-bd35c30d63d6",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "2e118523-6223-31c6-bcbc-2fb315866b40",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "f49a8d44-10df-3822-83f9-b72a2ea146d3",
        "name" : "ConvertRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "a848d390-1cb0-3369-9f77-2df509a5da5c",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "e11f442d-d32c-3814-9bbe-8f74ac2d5797",
        "id" : "4bbcc75d-7c5e-306f-ab5e-20dce5b31416",
        "name" : "AttributesToJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ {
      "bundle" : {
        "artifact" : "nifi-dbcp-service-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.7.0.3.2.0.0-520"
        },
        "type" : "org.apache.nifi.dbcp.DBCPService"
      } ],
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "d51424d5-a3d8-3bc2-b7c4-7a4f31f9efe8",
      "name" : "DBCPConnectionPool-HDP3.0",
      "properties" : {
        "Database Connection URL" : "jdbc:phoenix:${zookeeper.host}:2181:/hbase-unsecure",
        "Max Wait Time" : "500 millis",
        "Database Driver Class Name" : "org.apache.phoenix.jdbc.PhoenixDriver",
        "database-driver-locations" : "/usr/hdf/current/phoenix/phoenix-client-5.0.0.3.0.0.0-1634.jar",
        "Max Total Connections" : "-1"
      },
      "propertyDescriptors" : {
        "Validation-query" : {
          "displayName" : "Validation query",
          "identifiesControllerService" : false,
          "name" : "Validation-query",
          "sensitive" : false
        },
        "Database Connection URL" : {
          "displayName" : "Database Connection URL",
          "identifiesControllerService" : false,
          "name" : "Database Connection URL",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Driver Class Name" : {
          "displayName" : "Database Driver Class Name",
          "identifiesControllerService" : false,
          "name" : "Database Driver Class Name",
          "sensitive" : false
        },
        "Database User" : {
          "displayName" : "Database User",
          "identifiesControllerService" : false,
          "name" : "Database User",
          "sensitive" : false
        },
        "database-driver-locations" : {
          "displayName" : "Database Driver Location(s)",
          "identifiesControllerService" : false,
          "name" : "database-driver-locations",
          "sensitive" : false
        },
        "Max Total Connections" : {
          "displayName" : "Max Total Connections",
          "identifiesControllerService" : false,
          "name" : "Max Total Connections",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
    }, {
      "bundle" : {
        "artifact" : "nifi-http-context-map-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.7.0.3.2.0.0-520"
        },
        "type" : "org.apache.nifi.http.HttpContextMap"
      } ],
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "d24f8b34-fe50-3c01-bb13-7d6bae150972",
      "name" : "StandardHttpContextMap",
      "properties" : {
        "Request Expiration" : "1 min",
        "Maximum Outstanding Requests" : "5000"
      },
      "propertyDescriptors" : {
        "Request Expiration" : {
          "displayName" : "Request Expiration",
          "identifiesControllerService" : false,
          "name" : "Request Expiration",
          "sensitive" : false
        },
        "Maximum Outstanding Requests" : {
          "displayName" : "Maximum Outstanding Requests",
          "identifiesControllerService" : false,
          "name" : "Maximum Outstanding Requests",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.http.StandardHttpContextMap"
    }, {
      "bundle" : {
        "artifact" : "nifi-druid-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-druid-controller-service-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.7.0.3.2.0.0-520"
        },
        "type" : "org.apache.nifi.controller.api.druid.DruidTranquilityService"
      } ],
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "ee90f569-454a-3f82-a24c-fa1283d7e7b2",
      "name" : "DruidTranquilityController",
      "properties" : {
        "druid-cs-cluster-partitions" : "1",
        "druid-cs-index-service-path" : "druid/overlord",
        "druid-cs-query-granularity" : "SECOND",
        "druid-cs-window-period" : "PT10M",
        "druid-cs-max-pending-batches" : "5",
        "druid-cs-zk-retry-base-sleep" : "1000",
        "druid-cs-timestamp-field" : "timestamp",
        "druid-cs-discovery-path" : "/druid/discovery",
        "druid-cs-data-source" : "orderbook-raw",
        "druid-cs-linger-millis" : "1000",
        "druid-cs-zk-connect-string" : "${zookeeper.host}:2181",
        "druid-cs-zk-retry-max-retries" : "20",
        "druid-cs-segment-granularity" : "HOUR",
        "druid-cs-zk-retry-sleep" : "30000",
        "druid-cs-batch-size" : "2000",
        "druid-cs-aggregators-descriptor" : "[\n {\n  \"type\" : \"count\",\n  \"name\" : \"count\"\n },\n {\n  \"type\" : \"doubleMax\",\n  \"name\" : \"max_price\",\n  \"fieldName\" : \"price\"\n },\n {\n  \"type\" : \"doubleSum\",\n  \"name\" : \"total_amount\",\n  \"fieldName\" : \"amount\"\n }\n]",
        "druid-cs-dimensions-list" : "symbol,exchange,side",
        "druid-cs-cluster-replication" : "1"
      },
      "propertyDescriptors" : {
        "druid-cs-cluster-partitions" : {
          "displayName" : "Cluster Partitions",
          "identifiesControllerService" : false,
          "name" : "druid-cs-cluster-partitions",
          "sensitive" : false
        },
        "druid-cs-index-service-path" : {
          "displayName" : "Index Service Path",
          "identifiesControllerService" : false,
          "name" : "druid-cs-index-service-path",
          "sensitive" : false
        },
        "druid-cs-query-granularity" : {
          "displayName" : "Query Granularity",
          "identifiesControllerService" : false,
          "name" : "druid-cs-query-granularity",
          "sensitive" : false
        },
        "druid-cs-window-period" : {
          "displayName" : "Late Event Grace Period",
          "identifiesControllerService" : false,
          "name" : "druid-cs-window-period",
          "sensitive" : false
        },
        "druid-cs-max-pending-batches" : {
          "displayName" : "Max Pending Batches",
          "identifiesControllerService" : false,
          "name" : "druid-cs-max-pending-batches",
          "sensitive" : false
        },
        "druid-cs-zk-retry-base-sleep" : {
          "displayName" : "Zookeeper Retry Base Sleep Time",
          "identifiesControllerService" : false,
          "name" : "druid-cs-zk-retry-base-sleep",
          "sensitive" : false
        },
        "druid-cs-timestamp-field" : {
          "displayName" : "Timestamp field",
          "identifiesControllerService" : false,
          "name" : "druid-cs-timestamp-field",
          "sensitive" : false
        },
        "druid-cs-discovery-path" : {
          "displayName" : "Discovery Path",
          "identifiesControllerService" : false,
          "name" : "druid-cs-discovery-path",
          "sensitive" : false
        },
        "druid-cs-data-source" : {
          "displayName" : "Druid Data Source",
          "identifiesControllerService" : false,
          "name" : "druid-cs-data-source",
          "sensitive" : false
        },
        "druid-cs-linger-millis" : {
          "displayName" : "Linger (milliseconds)",
          "identifiesControllerService" : false,
          "name" : "druid-cs-linger-millis",
          "sensitive" : false
        },
        "druid-cs-zk-connect-string" : {
          "displayName" : "Zookeeper Connection String",
          "identifiesControllerService" : false,
          "name" : "druid-cs-zk-connect-string",
          "sensitive" : false
        },
        "druid-cs-zk-retry-max-retries" : {
          "displayName" : "Zookeeper Retry Max Retries",
          "identifiesControllerService" : false,
          "name" : "druid-cs-zk-retry-max-retries",
          "sensitive" : false
        },
        "druid-cs-segment-granularity" : {
          "displayName" : "Segment Granularity",
          "identifiesControllerService" : false,
          "name" : "druid-cs-segment-granularity",
          "sensitive" : false
        },
        "druid-cs-zk-retry-sleep" : {
          "displayName" : "Zookeeper Retry Sleep Time",
          "identifiesControllerService" : false,
          "name" : "druid-cs-zk-retry-sleep",
          "sensitive" : false
        },
        "druid-cs-batch-size" : {
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "name" : "druid-cs-batch-size",
          "sensitive" : false
        },
        "druid-cs-aggregators-descriptor" : {
          "displayName" : "Aggregator JSON",
          "identifiesControllerService" : false,
          "name" : "druid-cs-aggregators-descriptor",
          "sensitive" : false
        },
        "druid-cs-dimensions-list" : {
          "displayName" : "Dimension Fields",
          "identifiesControllerService" : false,
          "name" : "druid-cs-dimensions-list",
          "sensitive" : false
        },
        "druid-cs-cluster-replication" : {
          "displayName" : "Cluster Replication",
          "identifiesControllerService" : false,
          "name" : "druid-cs-cluster-replication",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.controller.druid.DruidTranquilityController"
    }, {
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.7.0.3.2.0.0-520"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "1222e239-819a-3dfb-86b4-89fa40501670",
      "name" : "OrderbookModifiedJsonTreeReader",
      "properties" : {
        "schema-name" : "${schema.name}",
        "schema-registry" : "ce1beefc-dda5-3adc-8ce8-8cea227fc339",
        "schema-access-strategy" : "schema-text-property",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.json.JsonTreeReader"
    }, {
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.7.0.3.2.0.0-520"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "a04e58da-dc1b-35ef-a789-e6c74d6a7650",
      "name" : "OrderBookAvroWriter",
      "properties" : {
        "compression-format" : "NONE",
        "Schema Write Strategy" : "avro-embedded",
        "schema-name" : "${schema.name}",
        "schema-registry" : "ce1beefc-dda5-3adc-8ce8-8cea227fc339",
        "schema-access-strategy" : "schema-name",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "compression-format" : {
          "displayName" : "Compression Format",
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.avro.AvroRecordSetWriter"
    }, {
      "bundle" : {
        "artifact" : "nifi-hwx-schema-registry-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.7.0.3.2.0.0-520"
        },
        "type" : "org.apache.nifi.schemaregistry.services.SchemaRegistry"
      } ],
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "ce1beefc-dda5-3adc-8ce8-8cea227fc339",
      "name" : "HortonworksSchemaRegistry",
      "properties" : {
        "cache-expiration" : "1 minute",
        "cache-size" : "1000",
        "url" : "http://${schema.registry.host}:7788/api/v1"
      },
      "propertyDescriptors" : {
        "cache-expiration" : {
          "displayName" : "Cache Expiration",
          "identifiesControllerService" : false,
          "name" : "cache-expiration",
          "sensitive" : false
        },
        "cache-size" : {
          "displayName" : "Cache Size",
          "identifiesControllerService" : false,
          "name" : "cache-size",
          "sensitive" : false
        },
        "url" : {
          "displayName" : "Schema Registry URL",
          "identifiesControllerService" : false,
          "name" : "url",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry"
    }, {
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.7.0.3.2.0.0-520"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "afa09451-7b91-32b5-8c01-58a4eac7e1ff",
      "name" : "OrderbookJsonTreeReader",
      "properties" : {
        "schema-name" : "${schema.name}",
        "schema-registry" : "ce1beefc-dda5-3adc-8ce8-8cea227fc339",
        "schema-access-strategy" : "schema-name",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.json.JsonTreeReader"
    }, {
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.7.0.3.2.0.0-520"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "1e46b606-9d5c-3e98-9b8b-f8cfefff4606",
      "name" : "OrderBookModifiedJsonRecordSetWriter",
      "properties" : {
        "Pretty Print JSON" : "false",
        "Schema Write Strategy" : "full-schema-attribute",
        "suppress-nulls" : "never-suppress",
        "output-grouping" : "output-array",
        "schema-name" : "orderbook_kafka",
        "schema-registry" : "ce1beefc-dda5-3adc-8ce8-8cea227fc339",
        "schema-access-strategy" : "inherit-record-schema",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "displayName" : "Pretty Print JSON",
          "identifiesControllerService" : false,
          "name" : "Pretty Print JSON",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "suppress-nulls" : {
          "displayName" : "Suppress Null Values",
          "identifiesControllerService" : false,
          "name" : "suppress-nulls",
          "sensitive" : false
        },
        "output-grouping" : {
          "displayName" : "Output Grouping",
          "identifiesControllerService" : false,
          "name" : "output-grouping",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.json.JsonRecordSetWriter"
    }, {
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.7.0.3.2.0.0-520"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "f66a3108-7cce-341b-aeba-856d031d4fcc",
      "name" : "OrderBookJsonWriter",
      "properties" : {
        "Pretty Print JSON" : "false",
        "Schema Write Strategy" : "full-schema-attribute",
        "suppress-nulls" : "never-suppress",
        "output-grouping" : "output-array",
        "schema-name" : "${schema.name}",
        "schema-registry" : "ce1beefc-dda5-3adc-8ce8-8cea227fc339",
        "schema-access-strategy" : "schema-name",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "displayName" : "Pretty Print JSON",
          "identifiesControllerService" : false,
          "name" : "Pretty Print JSON",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "suppress-nulls" : {
          "displayName" : "Suppress Null Values",
          "identifiesControllerService" : false,
          "name" : "suppress-nulls",
          "sensitive" : false
        },
        "output-grouping" : {
          "displayName" : "Output Grouping",
          "identifiesControllerService" : false,
          "name" : "output-grouping",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.json.JsonRecordSetWriter"
    } ],
    "funnels" : [ ],
    "identifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
    "inputPorts" : [ {
      "comments" : "",
      "componentType" : "INPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "a7bfeb63-38a1-39b4-91a2-bf464ec10210",
      "name" : "ingest-in",
      "position" : {
        "x" : 6628.908099976424,
        "y" : 3836.7384278236796
      },
      "type" : "INPUT_PORT"
    } ],
    "labels" : [ ],
    "name" : "real-time-database-ingest",
    "outputPorts" : [ ],
    "position" : {
      "x" : 463.390527954829,
      "y" : 394.0535754816467
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-hadoop-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "12452f24-a31f-3400-8454-dd802ab45f84",
      "name" : "PutHDFS",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 6030.040866733563,
        "y" : 5153.885394505576
      },
      "properties" : {
        "Hadoop Configuration Resources" : "/usr/hdp/current/hadoop-client/conf/core-site.xml,/usr/hdp/current/hadoop-client/conf/hdfs-site.xml",
        "Compression codec" : "NONE",
        "Kerberos Relogin Period" : "4 hours",
        "Directory" : "/tmp/crypto",
        "Conflict Resolution Strategy" : "fail"
      },
      "propertyDescriptors" : {
        "Permissions umask" : {
          "displayName" : "Permissions umask",
          "identifiesControllerService" : false,
          "name" : "Permissions umask",
          "sensitive" : false
        },
        "Hadoop Configuration Resources" : {
          "displayName" : "Hadoop Configuration Resources",
          "identifiesControllerService" : false,
          "name" : "Hadoop Configuration Resources",
          "sensitive" : false
        },
        "Remote Owner" : {
          "displayName" : "Remote Owner",
          "identifiesControllerService" : false,
          "name" : "Remote Owner",
          "sensitive" : false
        },
        "Additional Classpath Resources" : {
          "displayName" : "Additional Classpath Resources",
          "identifiesControllerService" : false,
          "name" : "Additional Classpath Resources",
          "sensitive" : false
        },
        "Compression codec" : {
          "displayName" : "Compression codec",
          "identifiesControllerService" : false,
          "name" : "Compression codec",
          "sensitive" : false
        },
        "IO Buffer Size" : {
          "displayName" : "IO Buffer Size",
          "identifiesControllerService" : false,
          "name" : "IO Buffer Size",
          "sensitive" : false
        },
        "Remote Group" : {
          "displayName" : "Remote Group",
          "identifiesControllerService" : false,
          "name" : "Remote Group",
          "sensitive" : false
        },
        "Block Size" : {
          "displayName" : "Block Size",
          "identifiesControllerService" : false,
          "name" : "Block Size",
          "sensitive" : false
        },
        "kerberos-credentials-service" : {
          "displayName" : "Kerberos Credentials Service",
          "identifiesControllerService" : true,
          "name" : "kerberos-credentials-service",
          "sensitive" : false
        },
        "Kerberos Keytab" : {
          "displayName" : "Kerberos Keytab",
          "identifiesControllerService" : false,
          "name" : "Kerberos Keytab",
          "sensitive" : false
        },
        "Kerberos Principal" : {
          "displayName" : "Kerberos Principal",
          "identifiesControllerService" : false,
          "name" : "Kerberos Principal",
          "sensitive" : false
        },
        "Replication" : {
          "displayName" : "Replication",
          "identifiesControllerService" : false,
          "name" : "Replication",
          "sensitive" : false
        },
        "Kerberos Relogin Period" : {
          "displayName" : "Kerberos Relogin Period",
          "identifiesControllerService" : false,
          "name" : "Kerberos Relogin Period",
          "sensitive" : false
        },
        "Directory" : {
          "displayName" : "Directory",
          "identifiesControllerService" : false,
          "name" : "Directory",
          "sensitive" : false
        },
        "Conflict Resolution Strategy" : {
          "displayName" : "Conflict Resolution Strategy",
          "identifiesControllerService" : false,
          "name" : "Conflict Resolution Strategy",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.hadoop.PutHDFS",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 20,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "f6e902da-9537-3565-8478-f9deb334b919",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 6576.956798486495,
        "y" : 4029.6090112658894
      },
      "properties" : {
        "Store State" : "Do not store state",
        "year" : "${timestamp:format(\"yyyy\", \"GMT\")}",
        "minute" : "${timestamp:format(\"mm\", \"GMT\")}",
        "second" : "${timestamp:format(\"ss\", \"GMT\")}",
        "timestamp_epoch" : "${timestamp:toNumber()}",
        "hour" : "${timestamp:format(\"HH\", \"GMT\")}",
        "month" : "${timestamp:format(\"MM\", \"GMT\")}",
        "schema.name" : "orderbook",
        "day" : "${timestamp:format(\"dd\", \"GMT\")}",
        "partition_name" : "${timestamp:format(\"yyyy\", \"GMT\")}-${timestamp:format(\"MM\", \"GMT\")}-${timestamp:format(\"dd\", \"GMT\")}-${timestamp:format(\"HH\", \"GMT\")}-${timestamp:format(\"mm\", \"GMT\")}",
        "timestamp" : "${timestamp:format(\"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'\", \"GMT\")}"
      },
      "propertyDescriptors" : {
        "Store State" : {
          "displayName" : "Store State",
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "year" : {
          "displayName" : "year",
          "identifiesControllerService" : false,
          "name" : "year",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        },
        "minute" : {
          "displayName" : "minute",
          "identifiesControllerService" : false,
          "name" : "minute",
          "sensitive" : false
        },
        "second" : {
          "displayName" : "second",
          "identifiesControllerService" : false,
          "name" : "second",
          "sensitive" : false
        },
        "timestamp_epoch" : {
          "displayName" : "timestamp_epoch",
          "identifiesControllerService" : false,
          "name" : "timestamp_epoch",
          "sensitive" : false
        },
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "hour" : {
          "displayName" : "hour",
          "identifiesControllerService" : false,
          "name" : "hour",
          "sensitive" : false
        },
        "month" : {
          "displayName" : "month",
          "identifiesControllerService" : false,
          "name" : "month",
          "sensitive" : false
        },
        "schema.name" : {
          "displayName" : "schema.name",
          "identifiesControllerService" : false,
          "name" : "schema.name",
          "sensitive" : false
        },
        "day" : {
          "displayName" : "day",
          "identifiesControllerService" : false,
          "name" : "day",
          "sensitive" : false
        },
        "partition_name" : {
          "displayName" : "partition_name",
          "identifiesControllerService" : false,
          "name" : "partition_name",
          "sensitive" : false
        },
        "timestamp" : {
          "displayName" : "timestamp",
          "identifiesControllerService" : false,
          "name" : "timestamp",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-druid-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 5,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "9a2340ec-48b7-3d04-8c2b-3b40eff17fc2",
      "name" : "PutDruidRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 6026.514167607101,
        "y" : 4942.9635380393465
      },
      "properties" : {
        "putdruid-record-writer" : "f66a3108-7cce-341b-aeba-856d031d4fcc",
        "putdruid-record-reader" : "afa09451-7b91-32b5-8c01-58a4eac7e1ff",
        "putdruid-tranquility-service" : "ee90f569-454a-3f82-a24c-fa1283d7e7b2"
      },
      "propertyDescriptors" : {
        "putdruid-record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "putdruid-record-writer",
          "sensitive" : false
        },
        "putdruid-record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "putdruid-record-reader",
          "sensitive" : false
        },
        "putdruid-tranquility-service" : {
          "displayName" : "Tranquility Service",
          "identifiesControllerService" : true,
          "name" : "putdruid-tranquility-service",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.druid.PutDruidRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "5678f6e1-5b42-3a6f-993b-a9e7aabe5cfb",
      "name" : "ReplaceText",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7187.447623621727,
        "y" : 4947.587637660989
      },
      "properties" : {
        "Regular Expression" : "INSERT",
        "Replacement Value" : "UPSERT",
        "Evaluation Mode" : "Entire text",
        "Character Set" : "UTF-8",
        "Maximum Buffer Size" : "1 MB",
        "Replacement Strategy" : "Regex Replace"
      },
      "propertyDescriptors" : {
        "Regular Expression" : {
          "displayName" : "Search Value",
          "identifiesControllerService" : false,
          "name" : "Regular Expression",
          "sensitive" : false
        },
        "Replacement Value" : {
          "displayName" : "Replacement Value",
          "identifiesControllerService" : false,
          "name" : "Replacement Value",
          "sensitive" : false
        },
        "Evaluation Mode" : {
          "displayName" : "Evaluation Mode",
          "identifiesControllerService" : false,
          "name" : "Evaluation Mode",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Maximum Buffer Size" : {
          "displayName" : "Maximum Buffer Size",
          "identifiesControllerService" : false,
          "name" : "Maximum Buffer Size",
          "sensitive" : false
        },
        "Replacement Strategy" : {
          "displayName" : "Replacement Strategy",
          "identifiesControllerService" : false,
          "name" : "Replacement Strategy",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ReplaceText",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "01e8df7e-999c-3db7-aabb-067e57c46757",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 5909.448857177269,
        "y" : 3788.1856617198387
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "100 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "d5abc427-809c-3054-8712-c692feda8550",
      "name" : "ReplaceText",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7185.644485715646,
        "y" : 5378.797033750318
      },
      "properties" : {
        "Regular Expression" : "*",
        "Replacement Value" : "DELETE FROM ORDERBOOK_TRIANGLES WHERE (TO_NUMBER(NOW())-TIMESTAMP_EPOCH) > 5000",
        "Evaluation Mode" : "Entire text",
        "Character Set" : "UTF-8",
        "Maximum Buffer Size" : "1 MB",
        "Replacement Strategy" : "Always Replace"
      },
      "propertyDescriptors" : {
        "Regular Expression" : {
          "displayName" : "Search Value",
          "identifiesControllerService" : false,
          "name" : "Regular Expression",
          "sensitive" : false
        },
        "Replacement Value" : {
          "displayName" : "Replacement Value",
          "identifiesControllerService" : false,
          "name" : "Replacement Value",
          "sensitive" : false
        },
        "Evaluation Mode" : {
          "displayName" : "Evaluation Mode",
          "identifiesControllerService" : false,
          "name" : "Evaluation Mode",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Maximum Buffer Size" : {
          "displayName" : "Maximum Buffer Size",
          "identifiesControllerService" : false,
          "name" : "Maximum Buffer Size",
          "sensitive" : false
        },
        "Replacement Strategy" : {
          "displayName" : "Replacement Strategy",
          "identifiesControllerService" : false,
          "name" : "Replacement Strategy",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "1 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ReplaceText",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-avro-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "5b617ced-341d-3b45-bfa4-32259ee9299d",
      "name" : "ConvertAvroToJSON",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7194.352481768379,
        "y" : 3928.5149384638635
      },
      "properties" : {
        "JSON container options" : "array",
        "Wrap Single Record" : "false"
      },
      "propertyDescriptors" : {
        "JSON container options" : {
          "displayName" : "JSON container options",
          "identifiesControllerService" : false,
          "name" : "JSON container options",
          "sensitive" : false
        },
        "Wrap Single Record" : {
          "displayName" : "Wrap Single Record",
          "identifiesControllerService" : false,
          "name" : "Wrap Single Record",
          "sensitive" : false
        },
        "Avro schema" : {
          "displayName" : "Avro schema",
          "identifiesControllerService" : false,
          "name" : "Avro schema",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.avro.ConvertAvroToJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure", "retry" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 30,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "89494ff7-c9ad-30ea-adc0-0974044099e7",
      "name" : "PutSQL",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7187.827232440146,
        "y" : 5153.975976219784
      },
      "properties" : {
        "Support Fragmented Transactions" : "true",
        "Batch Size" : "1000",
        "Obtain Generated Keys" : "false",
        "JDBC Connection Pool" : "d51424d5-a3d8-3bc2-b7c4-7a4f31f9efe8",
        "rollback-on-failure" : "false"
      },
      "propertyDescriptors" : {
        "Support Fragmented Transactions" : {
          "displayName" : "Support Fragmented Transactions",
          "identifiesControllerService" : false,
          "name" : "Support Fragmented Transactions",
          "sensitive" : false
        },
        "putsql-sql-statement" : {
          "displayName" : "SQL Statement",
          "identifiesControllerService" : false,
          "name" : "putsql-sql-statement",
          "sensitive" : false
        },
        "Transaction Timeout" : {
          "displayName" : "Transaction Timeout",
          "identifiesControllerService" : false,
          "name" : "Transaction Timeout",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Obtain Generated Keys" : {
          "displayName" : "Obtain Generated Keys",
          "identifiesControllerService" : false,
          "name" : "Obtain Generated Keys",
          "sensitive" : false
        },
        "JDBC Connection Pool" : {
          "displayName" : "JDBC Connection Pool",
          "identifiesControllerService" : true,
          "name" : "JDBC Connection Pool",
          "sensitive" : false
        },
        "rollback-on-failure" : {
          "displayName" : "Rollback On Failure",
          "identifiesControllerService" : false,
          "name" : "rollback-on-failure",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutSQL",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "36c3fe92-8704-39f2-a91e-a9d1ac1d920b",
      "name" : "ExecuteSQL",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7198.705036255375,
        "y" : 3726.39982474502
      },
      "properties" : {
        "SQL select query" : "select * from orderbook order by timestamp_epoch desc limit 10",
        "dbf-default-precision" : "10",
        "Max Wait Time" : "0 seconds",
        "Database Connection Pooling Service" : "d51424d5-a3d8-3bc2-b7c4-7a4f31f9efe8",
        "dbf-normalize" : "false",
        "dbf-user-logical-types" : "false",
        "dbf-default-scale" : "0"
      },
      "propertyDescriptors" : {
        "SQL select query" : {
          "displayName" : "SQL select query",
          "identifiesControllerService" : false,
          "name" : "SQL select query",
          "sensitive" : false
        },
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Connection Pooling Service" : {
          "displayName" : "Database Connection Pooling Service",
          "identifiesControllerService" : true,
          "name" : "Database Connection Pooling Service",
          "sensitive" : false
        },
        "dbf-normalize" : {
          "displayName" : "Normalize Table/Column Names",
          "identifiesControllerService" : false,
          "name" : "dbf-normalize",
          "sensitive" : false
        },
        "dbf-user-logical-types" : {
          "displayName" : "Use Avro Logical Types",
          "identifiesControllerService" : false,
          "name" : "dbf-user-logical-types",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 20,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "2e118523-6223-31c6-bcbc-2fb315866b40",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 6027.712974627646,
        "y" : 4514.972069969784
      },
      "properties" : {
        "Store State" : "Do not store state",
        "inferred.avro.schema" : "${inferred.avro.schema:replaceAll('Type inferred from .+?(?=\\'\")', ''):replaceAll('\\'','')} "
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        },
        "inferred.avro.schema" : {
          "displayName" : "inferred.avro.schema",
          "identifiesControllerService" : false,
          "name" : "inferred.avro.schema",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-hive-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "03250461-bb48-359e-9c3c-13815bfc0cfd",
      "name" : "ConvertAvroToORC",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 6580.031516697988,
        "y" : 4942.789406636435
      },
      "properties" : {
        "orc-buffer-size" : "10 KB",
        "orc-compression-type" : "ZLIB",
        "orc-stripe-size" : "64 MB"
      },
      "propertyDescriptors" : {
        "orc-config-resources" : {
          "displayName" : "ORC Configuration Resources",
          "identifiesControllerService" : false,
          "name" : "orc-config-resources",
          "sensitive" : false
        },
        "orc-buffer-size" : {
          "displayName" : "Buffer Size",
          "identifiesControllerService" : false,
          "name" : "orc-buffer-size",
          "sensitive" : false
        },
        "orc-compression-type" : {
          "displayName" : "Compression Type",
          "identifiesControllerService" : false,
          "name" : "orc-compression-type",
          "sensitive" : false
        },
        "orc-stripe-size" : {
          "displayName" : "Stripe Size",
          "identifiesControllerService" : false,
          "name" : "orc-stripe-size",
          "sensitive" : false
        },
        "orc-hive-table-name" : {
          "displayName" : "Hive Table Name",
          "identifiesControllerService" : false,
          "name" : "orc-hive-table-name",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.hive.ConvertAvroToORC",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 30,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "f2548349-5db0-3610-8505-e1f455c1850a",
      "name" : "ConvertRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7182.487578646703,
        "y" : 4516.642658921344
      },
      "properties" : {
        "record-writer" : "f66a3108-7cce-341b-aeba-856d031d4fcc",
        "record-reader" : "afa09451-7b91-32b5-8c01-58a4eac7e1ff"
      },
      "propertyDescriptors" : {
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ConvertRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 20,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "822cf0ea-f06a-323a-805a-7c225c78021b",
      "name" : "CreateSQLOrderUpdate",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7188.949792846368,
        "y" : 4745.402374413368
      },
      "properties" : {
        "Table Name" : "ORDERBOOK",
        "Unmatched Field Behavior" : "Ignore Unmatched Fields",
        "Unmatched Column Behavior" : "Warn on Unmatched Columns",
        "jts-quoted-identifiers" : "false",
        "jts-quoted-table-identifiers" : "false",
        "JDBC Connection Pool" : "d51424d5-a3d8-3bc2-b7c4-7a4f31f9efe8",
        "Translate Field Names" : "true",
        "jts-sql-param-attr-prefix" : "sql",
        "Statement Type" : "INSERT"
      },
      "propertyDescriptors" : {
        "Table Name" : {
          "displayName" : "Table Name",
          "identifiesControllerService" : false,
          "name" : "Table Name",
          "sensitive" : false
        },
        "Unmatched Field Behavior" : {
          "displayName" : "Unmatched Field Behavior",
          "identifiesControllerService" : false,
          "name" : "Unmatched Field Behavior",
          "sensitive" : false
        },
        "Unmatched Column Behavior" : {
          "displayName" : "Unmatched Column Behavior",
          "identifiesControllerService" : false,
          "name" : "Unmatched Column Behavior",
          "sensitive" : false
        },
        "jts-quoted-identifiers" : {
          "displayName" : "Quote Column Identifiers",
          "identifiesControllerService" : false,
          "name" : "jts-quoted-identifiers",
          "sensitive" : false
        },
        "jts-quoted-table-identifiers" : {
          "displayName" : "Quote Table Identifiers",
          "identifiesControllerService" : false,
          "name" : "jts-quoted-table-identifiers",
          "sensitive" : false
        },
        "JDBC Connection Pool" : {
          "displayName" : "JDBC Connection Pool",
          "identifiesControllerService" : true,
          "name" : "JDBC Connection Pool",
          "sensitive" : false
        },
        "Catalog Name" : {
          "displayName" : "Catalog Name",
          "identifiesControllerService" : false,
          "name" : "Catalog Name",
          "sensitive" : false
        },
        "Update Keys" : {
          "displayName" : "Update Keys",
          "identifiesControllerService" : false,
          "name" : "Update Keys",
          "sensitive" : false
        },
        "Translate Field Names" : {
          "displayName" : "Translate Field Names",
          "identifiesControllerService" : false,
          "name" : "Translate Field Names",
          "sensitive" : false
        },
        "jts-sql-param-attr-prefix" : {
          "displayName" : "SQL Parameter Attribute Prefix",
          "identifiesControllerService" : false,
          "name" : "jts-sql-param-attr-prefix",
          "sensitive" : false
        },
        "Statement Type" : {
          "displayName" : "Statement Type",
          "identifiesControllerService" : false,
          "name" : "Statement Type",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ConvertJSONToSQL",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-kafka-1-0-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 20,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "604d49b0-ebea-3790-b0c4-39577f170d51",
      "name" : "PublishKafkaRecord_1_0",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 5474.517109009281,
        "y" : 4758.517744666895
      },
      "properties" : {
        "compression.type" : "none",
        "ack.wait.time" : "5 secs",
        "use-transactions" : "false",
        "record-writer" : "1e46b606-9d5c-3e98-9b8b-f8cfefff4606",
        "acks" : "0",
        "bootstrap.servers" : "${kafka.broker.host}:6667",
        "security.protocol" : "PLAINTEXT",
        "max.request.size" : "1 MB",
        "max.block.ms" : "5 sec",
        "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
        "topic" : "orderbook",
        "record-reader" : "1222e239-819a-3dfb-86b4-89fa40501670",
        "message-header-encoding" : "UTF-8"
      },
      "propertyDescriptors" : {
        "compression.type" : {
          "displayName" : "Compression Type",
          "identifiesControllerService" : false,
          "name" : "compression.type",
          "sensitive" : false
        },
        "ack.wait.time" : {
          "displayName" : "Acknowledgment Wait Time",
          "identifiesControllerService" : false,
          "name" : "ack.wait.time",
          "sensitive" : false
        },
        "use-transactions" : {
          "displayName" : "Use Transactions",
          "identifiesControllerService" : false,
          "name" : "use-transactions",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "acks" : {
          "displayName" : "Delivery Guarantee",
          "identifiesControllerService" : false,
          "name" : "acks",
          "sensitive" : false
        },
        "bootstrap.servers" : {
          "displayName" : "Kafka Brokers",
          "identifiesControllerService" : false,
          "name" : "bootstrap.servers",
          "sensitive" : false
        },
        "sasl.kerberos.principal" : {
          "displayName" : "Kerberos Principal",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.principal",
          "sensitive" : false
        },
        "sasl.kerberos.service.name" : {
          "displayName" : "Kerberos Service Name",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.service.name",
          "sensitive" : false
        },
        "security.protocol" : {
          "displayName" : "Security Protocol",
          "identifiesControllerService" : false,
          "name" : "security.protocol",
          "sensitive" : false
        },
        "kerberos-credentials-service" : {
          "displayName" : "Kerberos Credentials Service",
          "identifiesControllerService" : true,
          "name" : "kerberos-credentials-service",
          "sensitive" : false
        },
        "ssl.context.service" : {
          "displayName" : "SSL Context Service",
          "identifiesControllerService" : true,
          "name" : "ssl.context.service",
          "sensitive" : false
        },
        "max.request.size" : {
          "displayName" : "Max Request Size",
          "identifiesControllerService" : false,
          "name" : "max.request.size",
          "sensitive" : false
        },
        "message-key-field" : {
          "displayName" : "Message Key Field",
          "identifiesControllerService" : false,
          "name" : "message-key-field",
          "sensitive" : false
        },
        "max.block.ms" : {
          "displayName" : "Max Metadata Wait Time",
          "identifiesControllerService" : false,
          "name" : "max.block.ms",
          "sensitive" : false
        },
        "partitioner.class" : {
          "displayName" : "Partitioner class",
          "identifiesControllerService" : false,
          "name" : "partitioner.class",
          "sensitive" : false
        },
        "sasl.kerberos.keytab" : {
          "displayName" : "Kerberos Keytab",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.keytab",
          "sensitive" : false
        },
        "topic" : {
          "displayName" : "Topic Name",
          "identifiesControllerService" : false,
          "name" : "topic",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "message-header-encoding" : {
          "displayName" : "Message Header Encoding",
          "identifiesControllerService" : false,
          "name" : "message-header-encoding",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_1_0",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "56c391e1-7fcc-36ff-8460-faac5e16c3e9",
      "name" : "HandleHttpRequest",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7196.993610474125,
        "y" : 3282.309736854395
      },
      "properties" : {
        "Allow POST" : "true",
        "Default URL Character Set" : "UTF-8",
        "Allow DELETE" : "false",
        "container-queue-size" : "50",
        "HTTP Context Map" : "d24f8b34-fe50-3c01-bb13-7d6bae150972",
        "Allow OPTIONS" : "false",
        "Allow GET" : "true",
        "Allow HEAD" : "false",
        "Listening Port" : "8123",
        "Client Authentication" : "No Authentication",
        "Allow PUT" : "false"
      },
      "propertyDescriptors" : {
        "Allow POST" : {
          "displayName" : "Allow POST",
          "identifiesControllerService" : false,
          "name" : "Allow POST",
          "sensitive" : false
        },
        "Hostname" : {
          "displayName" : "Hostname",
          "identifiesControllerService" : false,
          "name" : "Hostname",
          "sensitive" : false
        },
        "Default URL Character Set" : {
          "displayName" : "Default URL Character Set",
          "identifiesControllerService" : false,
          "name" : "Default URL Character Set",
          "sensitive" : false
        },
        "Allow DELETE" : {
          "displayName" : "Allow DELETE",
          "identifiesControllerService" : false,
          "name" : "Allow DELETE",
          "sensitive" : false
        },
        "Additional HTTP Methods" : {
          "displayName" : "Additional HTTP Methods",
          "identifiesControllerService" : false,
          "name" : "Additional HTTP Methods",
          "sensitive" : false
        },
        "container-queue-size" : {
          "displayName" : "Container Queue Size",
          "identifiesControllerService" : false,
          "name" : "container-queue-size",
          "sensitive" : false
        },
        "HTTP Context Map" : {
          "displayName" : "HTTP Context Map",
          "identifiesControllerService" : true,
          "name" : "HTTP Context Map",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Allow OPTIONS" : {
          "displayName" : "Allow OPTIONS",
          "identifiesControllerService" : false,
          "name" : "Allow OPTIONS",
          "sensitive" : false
        },
        "Allowed Paths" : {
          "displayName" : "Allowed Paths",
          "identifiesControllerService" : false,
          "name" : "Allowed Paths",
          "sensitive" : false
        },
        "Allow GET" : {
          "displayName" : "Allow GET",
          "identifiesControllerService" : false,
          "name" : "Allow GET",
          "sensitive" : false
        },
        "Allow HEAD" : {
          "displayName" : "Allow HEAD",
          "identifiesControllerService" : false,
          "name" : "Allow HEAD",
          "sensitive" : false
        },
        "Listening Port" : {
          "displayName" : "Listening Port",
          "identifiesControllerService" : false,
          "name" : "Listening Port",
          "sensitive" : false
        },
        "Client Authentication" : {
          "displayName" : "Client Authentication",
          "identifiesControllerService" : false,
          "name" : "Client Authentication",
          "sensitive" : false
        },
        "Allow PUT" : {
          "displayName" : "Allow PUT",
          "identifiesControllerService" : false,
          "name" : "Allow PUT",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.HandleHttpRequest",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "c172bad2-9f5d-3797-9e3c-b3c5eaf4ef02",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7196.682087036625,
        "y" : 3507.35148490127
      },
      "properties" : {
        "Store State" : "Do not store state"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "6ab618b8-662c-3252-92b7-a1b1d4d40763",
      "name" : "MergeContent",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 6580.030920583633,
        "y" : 4746.129537539839
      },
      "properties" : {
        "Keep Path" : "false",
        "Maximum Group Size" : "128 MB",
        "Merge Strategy" : "Bin-Packing Algorithm",
        "Attribute Strategy" : "Keep Only Common Attributes",
        "Compression Level" : "1",
        "Maximum Number of Entries" : "100000000",
        "Minimum Group Size" : "64 MB",
        "Maximum number of Bins" : "10",
        "Tar Modified Time" : "${file.lastModifiedTime}",
        "Delimiter Strategy" : "Filename",
        "Merge Format" : "Avro",
        "Correlation Attribute Name" : "partition_name",
        "mergecontent-metadata-strategy" : "Do Not Merge Uncommon Metadata",
        "Minimum Number of Entries" : "1"
      },
      "propertyDescriptors" : {
        "Keep Path" : {
          "displayName" : "Keep Path",
          "identifiesControllerService" : false,
          "name" : "Keep Path",
          "sensitive" : false
        },
        "Maximum Group Size" : {
          "displayName" : "Maximum Group Size",
          "identifiesControllerService" : false,
          "name" : "Maximum Group Size",
          "sensitive" : false
        },
        "Merge Strategy" : {
          "displayName" : "Merge Strategy",
          "identifiesControllerService" : false,
          "name" : "Merge Strategy",
          "sensitive" : false
        },
        "Attribute Strategy" : {
          "displayName" : "Attribute Strategy",
          "identifiesControllerService" : false,
          "name" : "Attribute Strategy",
          "sensitive" : false
        },
        "Compression Level" : {
          "displayName" : "Compression Level",
          "identifiesControllerService" : false,
          "name" : "Compression Level",
          "sensitive" : false
        },
        "Maximum Number of Entries" : {
          "displayName" : "Maximum Number of Entries",
          "identifiesControllerService" : false,
          "name" : "Maximum Number of Entries",
          "sensitive" : false
        },
        "Minimum Group Size" : {
          "displayName" : "Minimum Group Size",
          "identifiesControllerService" : false,
          "name" : "Minimum Group Size",
          "sensitive" : false
        },
        "Maximum number of Bins" : {
          "displayName" : "Maximum number of Bins",
          "identifiesControllerService" : false,
          "name" : "Maximum number of Bins",
          "sensitive" : false
        },
        "Tar Modified Time" : {
          "displayName" : "Tar Modified Time",
          "identifiesControllerService" : false,
          "name" : "Tar Modified Time",
          "sensitive" : false
        },
        "Delimiter Strategy" : {
          "displayName" : "Delimiter Strategy",
          "identifiesControllerService" : false,
          "name" : "Delimiter Strategy",
          "sensitive" : false
        },
        "Merge Format" : {
          "displayName" : "Merge Format",
          "identifiesControllerService" : false,
          "name" : "Merge Format",
          "sensitive" : false
        },
        "Footer File" : {
          "displayName" : "Footer",
          "identifiesControllerService" : false,
          "name" : "Footer File",
          "sensitive" : false
        },
        "Max Bin Age" : {
          "displayName" : "Max Bin Age",
          "identifiesControllerService" : false,
          "name" : "Max Bin Age",
          "sensitive" : false
        },
        "Demarcator File" : {
          "displayName" : "Demarcator",
          "identifiesControllerService" : false,
          "name" : "Demarcator File",
          "sensitive" : false
        },
        "Correlation Attribute Name" : {
          "displayName" : "Correlation Attribute Name",
          "identifiesControllerService" : false,
          "name" : "Correlation Attribute Name",
          "sensitive" : false
        },
        "Header File" : {
          "displayName" : "Header",
          "identifiesControllerService" : false,
          "name" : "Header File",
          "sensitive" : false
        },
        "mergecontent-metadata-strategy" : {
          "displayName" : "Metadata Strategy",
          "identifiesControllerService" : false,
          "name" : "mergecontent-metadata-strategy",
          "sensitive" : false
        },
        "Minimum Number of Entries" : {
          "displayName" : "Minimum Number of Entries",
          "identifiesControllerService" : false,
          "name" : "Minimum Number of Entries",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.MergeContent",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 30,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "4bbcc75d-7c5e-306f-ab5e-20dce5b31416",
      "name" : "AttributesToJSON",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 6578.992002864394,
        "y" : 4274.249038094604
      },
      "properties" : {
        "Destination" : "flowfile-content",
        "Null Value" : "false",
        "Attributes List" : "symbol,exchange,side,price,amount,second,minute,hour,day,month,year,timestamp,timestamp_epoch",
        "Include Core Attributes" : "false"
      },
      "propertyDescriptors" : {
        "attributes-to-json-regex" : {
          "displayName" : "Attributes Regular Expression",
          "identifiesControllerService" : false,
          "name" : "attributes-to-json-regex",
          "sensitive" : false
        },
        "Destination" : {
          "displayName" : "Destination",
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "Null Value" : {
          "displayName" : "Null Value",
          "identifiesControllerService" : false,
          "name" : "Null Value",
          "sensitive" : false
        },
        "Attributes List" : {
          "displayName" : "Attributes List",
          "identifiesControllerService" : false,
          "name" : "Attributes List",
          "sensitive" : false
        },
        "Include Core Attributes" : {
          "displayName" : "Include Core Attributes",
          "identifiesControllerService" : false,
          "name" : "Include Core Attributes",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 30,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "f49a8d44-10df-3822-83f9-b72a2ea146d3",
      "name" : "ConvertRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 6578.474883334203,
        "y" : 4513.061604233844
      },
      "properties" : {
        "record-writer" : "a04e58da-dc1b-35ef-a789-e6c74d6a7650",
        "record-reader" : "afa09451-7b91-32b5-8c01-58a4eac7e1ff"
      },
      "propertyDescriptors" : {
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ConvertRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "a93f0d40-9389-3266-a0ec-508a5412bee5",
      "name" : "MergeRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 6025.572307813916,
        "y" : 4746.0260529701445
      },
      "properties" : {
        "max-bin-age" : "1 hour",
        "Attribute Strategy" : "Keep Only Common Attributes",
        "min-records" : "10",
        "max-bin-size" : "10 MB",
        "record-writer" : "f66a3108-7cce-341b-aeba-856d031d4fcc",
        "merge-strategy" : "Bin-Packing Algorithm",
        "record-reader" : "afa09451-7b91-32b5-8c01-58a4eac7e1ff",
        "max-records" : "10000",
        "min-bin-size" : "1 MB",
        "max.bin.count" : "5"
      },
      "propertyDescriptors" : {
        "max-bin-age" : {
          "displayName" : "Max Bin Age",
          "identifiesControllerService" : false,
          "name" : "max-bin-age",
          "sensitive" : false
        },
        "correlation-attribute-name" : {
          "displayName" : "Correlation Attribute Name",
          "identifiesControllerService" : false,
          "name" : "correlation-attribute-name",
          "sensitive" : false
        },
        "Attribute Strategy" : {
          "displayName" : "Attribute Strategy",
          "identifiesControllerService" : false,
          "name" : "Attribute Strategy",
          "sensitive" : false
        },
        "min-records" : {
          "displayName" : "Minimum Number of Records",
          "identifiesControllerService" : false,
          "name" : "min-records",
          "sensitive" : false
        },
        "max-bin-size" : {
          "displayName" : "Maximum Bin Size",
          "identifiesControllerService" : false,
          "name" : "max-bin-size",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "merge-strategy" : {
          "displayName" : "Merge Strategy",
          "identifiesControllerService" : false,
          "name" : "merge-strategy",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "max-records" : {
          "displayName" : "Maximum Number of Records",
          "identifiesControllerService" : false,
          "name" : "max-records",
          "sensitive" : false
        },
        "min-bin-size" : {
          "displayName" : "Minimum Bin Size",
          "identifiesControllerService" : false,
          "name" : "min-bin-size",
          "sensitive" : false
        },
        "max.bin.count" : {
          "displayName" : "Maximum Number of Bins",
          "identifiesControllerService" : false,
          "name" : "max.bin.count",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.MergeRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "b9368b81-c6b8-3392-9ef9-b8ab17c19ca6",
      "name" : "HandleHttpResponse",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7193.518512817875,
        "y" : 4140.945479041895
      },
      "properties" : {
        "HTTP Context Map" : "d24f8b34-fe50-3c01-bb13-7d6bae150972",
        "HTTP Status Code" : "200"
      },
      "propertyDescriptors" : {
        "HTTP Context Map" : {
          "displayName" : "HTTP Context Map",
          "identifiesControllerService" : true,
          "name" : "HTTP Context Map",
          "sensitive" : false
        },
        "HTTP Status Code" : {
          "displayName" : "HTTP Status Code",
          "identifiesControllerService" : false,
          "name" : "HTTP Status Code",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.HandleHttpResponse",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-aws-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "8aace385-c1d2-3280-9076-066c38e31304",
      "name" : "PutS3Object",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 6579.872059119682,
        "y" : 5152.238019389509
      },
      "properties" : {
        "FullControl User List" : "${s3.permissions.full.users}",
        "Owner" : "${s3.owner}",
        "s3-object-remove-tags-prefix" : "false",
        "Multipart Upload Max Age Threshold" : "7 days",
        "canned-acl" : "${s3.permissions.cannedacl}",
        "Signer Override" : "Default Signature",
        "Write ACL User List" : "${s3.permissions.writeacl.users}",
        "server-side-encryption" : "None",
        "Read ACL User List" : "${s3.permissions.readacl.users}",
        "Storage Class" : "Standard",
        "Multipart Part Size" : "5 GB",
        "Object Key" : "${filename}",
        "Multipart Threshold" : "5 GB",
        "Bucket" : "shared-warehouse/orderbook/year=${year}/month=${month}/day=${day}/hour=${hour}/minute=${minute}",
        "Multipart Upload AgeOff Interval" : "60 min",
        "Write Permission User List" : "${s3.permissions.write.users}",
        "Communications Timeout" : "30 secs",
        "Region" : "us-east-1",
        "Read Permission User List" : "${s3.permissions.read.users}"
      },
      "propertyDescriptors" : {
        "Proxy Host" : {
          "displayName" : "Proxy Host",
          "identifiesControllerService" : false,
          "name" : "Proxy Host",
          "sensitive" : false
        },
        "FullControl User List" : {
          "displayName" : "FullControl User List",
          "identifiesControllerService" : false,
          "name" : "FullControl User List",
          "sensitive" : false
        },
        "Owner" : {
          "displayName" : "Owner",
          "identifiesControllerService" : false,
          "name" : "Owner",
          "sensitive" : false
        },
        "Access Key" : {
          "displayName" : "Access Key",
          "identifiesControllerService" : false,
          "name" : "Access Key",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "s3-object-remove-tags-prefix" : {
          "displayName" : "Remove Tag Prefix",
          "identifiesControllerService" : false,
          "name" : "s3-object-remove-tags-prefix",
          "sensitive" : false
        },
        "Endpoint Override URL" : {
          "displayName" : "Endpoint Override URL",
          "identifiesControllerService" : false,
          "name" : "Endpoint Override URL",
          "sensitive" : false
        },
        "Multipart Upload Max Age Threshold" : {
          "displayName" : "Multipart Upload Max Age Threshold",
          "identifiesControllerService" : false,
          "name" : "Multipart Upload Max Age Threshold",
          "sensitive" : false
        },
        "canned-acl" : {
          "displayName" : "Canned ACL",
          "identifiesControllerService" : false,
          "name" : "canned-acl",
          "sensitive" : false
        },
        "Signer Override" : {
          "displayName" : "Signer Override",
          "identifiesControllerService" : false,
          "name" : "Signer Override",
          "sensitive" : false
        },
        "proxy-user-password" : {
          "displayName" : "Proxy Password",
          "identifiesControllerService" : false,
          "name" : "proxy-user-password",
          "sensitive" : false
        },
        "Content Type" : {
          "displayName" : "Content Type",
          "identifiesControllerService" : false,
          "name" : "Content Type",
          "sensitive" : false
        },
        "Secret Key" : {
          "displayName" : "Secret Key",
          "identifiesControllerService" : false,
          "name" : "Secret Key",
          "sensitive" : false
        },
        "Write ACL User List" : {
          "displayName" : "Write ACL User List",
          "identifiesControllerService" : false,
          "name" : "Write ACL User List",
          "sensitive" : false
        },
        "server-side-encryption" : {
          "displayName" : "Server Side Encryption",
          "identifiesControllerService" : false,
          "name" : "server-side-encryption",
          "sensitive" : false
        },
        "Read ACL User List" : {
          "displayName" : "Read ACL User List",
          "identifiesControllerService" : false,
          "name" : "Read ACL User List",
          "sensitive" : false
        },
        "Storage Class" : {
          "displayName" : "Storage Class",
          "identifiesControllerService" : false,
          "name" : "Storage Class",
          "sensitive" : false
        },
        "Multipart Part Size" : {
          "displayName" : "Multipart Part Size",
          "identifiesControllerService" : false,
          "name" : "Multipart Part Size",
          "sensitive" : false
        },
        "Object Key" : {
          "displayName" : "Object Key",
          "identifiesControllerService" : false,
          "name" : "Object Key",
          "sensitive" : false
        },
        "AWS Credentials Provider service" : {
          "displayName" : "AWS Credentials Provider service",
          "identifiesControllerService" : true,
          "name" : "AWS Credentials Provider service",
          "sensitive" : false
        },
        "Multipart Threshold" : {
          "displayName" : "Multipart Threshold",
          "identifiesControllerService" : false,
          "name" : "Multipart Threshold",
          "sensitive" : false
        },
        "s3-object-tags-prefix" : {
          "displayName" : "Object Tags Prefix",
          "identifiesControllerService" : false,
          "name" : "s3-object-tags-prefix",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Bucket" : {
          "displayName" : "Bucket",
          "identifiesControllerService" : false,
          "name" : "Bucket",
          "sensitive" : false
        },
        "Multipart Upload AgeOff Interval" : {
          "displayName" : "Multipart Upload AgeOff Interval",
          "identifiesControllerService" : false,
          "name" : "Multipart Upload AgeOff Interval",
          "sensitive" : false
        },
        "Write Permission User List" : {
          "displayName" : "Write Permission User List",
          "identifiesControllerService" : false,
          "name" : "Write Permission User List",
          "sensitive" : false
        },
        "Communications Timeout" : {
          "displayName" : "Communications Timeout",
          "identifiesControllerService" : false,
          "name" : "Communications Timeout",
          "sensitive" : false
        },
        "Credentials File" : {
          "displayName" : "Credentials File",
          "identifiesControllerService" : false,
          "name" : "Credentials File",
          "sensitive" : false
        },
        "Region" : {
          "displayName" : "Region",
          "identifiesControllerService" : false,
          "name" : "Region",
          "sensitive" : false
        },
        "Read Permission User List" : {
          "displayName" : "Read Permission User List",
          "identifiesControllerService" : false,
          "name" : "Read Permission User List",
          "sensitive" : false
        },
        "Expiration Time Rule" : {
          "displayName" : "Expiration Time Rule",
          "identifiesControllerService" : false,
          "name" : "Expiration Time Rule",
          "sensitive" : false
        },
        "proxy-user-name" : {
          "displayName" : "Proxy Username",
          "identifiesControllerService" : false,
          "name" : "proxy-user-name",
          "sensitive" : false
        },
        "Proxy Host Port" : {
          "displayName" : "Proxy Host Port",
          "identifiesControllerService" : false,
          "name" : "Proxy Host Port",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.aws.s3.PutS3Object",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 20,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "7e7283b1-32d6-3d41-863a-d5cbebd22b3c",
      "name" : "QueryRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 5474.517109009281,
        "y" : 4509.517744666895
      },
      "properties" : {
        "cache-schema" : "true",
        "record-writer" : "1e46b606-9d5c-3e98-9b8b-f8cfefff4606",
        "record-reader" : "afa09451-7b91-32b5-8c01-58a4eac7e1ff",
        "include-zero-record-flowfiles" : "true",
        "modify_schema" : "SELECT \"timestamp\" as \"__time\", symbol, exchange, side, price , amount\nFROM FLOWFILE"
      },
      "propertyDescriptors" : {
        "cache-schema" : {
          "displayName" : "Cache Schema",
          "identifiesControllerService" : false,
          "name" : "cache-schema",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "include-zero-record-flowfiles" : {
          "displayName" : "Include Zero Record FlowFiles",
          "identifiesControllerService" : false,
          "name" : "include-zero-record-flowfiles",
          "sensitive" : false
        },
        "modify_schema" : {
          "displayName" : "modify_schema",
          "identifiesControllerService" : false,
          "name" : "modify_schema",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.QueryRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure", "retry" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 10,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "1edfcd78-5576-341b-8364-b6b682615671",
      "name" : "CreateOrderbookPhoenixTable",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 5904.290123065146,
        "y" : 3996.5541012197837
      },
      "properties" : {
        "Support Fragmented Transactions" : "true",
        "putsql-sql-statement" : "CREATE TABLE IF NOT EXISTS ORDERBOOK (\n    exchange VARCHAR NOT NULL,\n    symbol VARCHAR NOT NULL, \n    side VARCHAR NOT NULL,\n    price DOUBLE NOT NULL,\n    amount DOUBLE,\n    timestamp_epoch BIGINT\n    CONSTRAINT pk PRIMARY KEY (exchange, symbol, side, price))\n    SALT_BUCKETS = 9",
        "Batch Size" : "1000",
        "Obtain Generated Keys" : "false",
        "JDBC Connection Pool" : "d51424d5-a3d8-3bc2-b7c4-7a4f31f9efe8",
        "rollback-on-failure" : "false"
      },
      "propertyDescriptors" : {
        "Support Fragmented Transactions" : {
          "displayName" : "Support Fragmented Transactions",
          "identifiesControllerService" : false,
          "name" : "Support Fragmented Transactions",
          "sensitive" : false
        },
        "putsql-sql-statement" : {
          "displayName" : "SQL Statement",
          "identifiesControllerService" : false,
          "name" : "putsql-sql-statement",
          "sensitive" : false
        },
        "Transaction Timeout" : {
          "displayName" : "Transaction Timeout",
          "identifiesControllerService" : false,
          "name" : "Transaction Timeout",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Obtain Generated Keys" : {
          "displayName" : "Obtain Generated Keys",
          "identifiesControllerService" : false,
          "name" : "Obtain Generated Keys",
          "sensitive" : false
        },
        "JDBC Connection Pool" : {
          "displayName" : "JDBC Connection Pool",
          "identifiesControllerService" : true,
          "name" : "JDBC Connection Pool",
          "sensitive" : false
        },
        "rollback-on-failure" : {
          "displayName" : "Rollback On Failure",
          "identifiesControllerService" : false,
          "name" : "rollback-on-failure",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutSQL",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "cce263a5-7c31-3d8f-bc87-b0e6cd0a98c5",
      "identifier" : "c3e2f807-677a-39f6-a9b5-568cae2bb462",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7181.081254639837,
        "y" : 5573.182855105014
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "2 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "variables" : {
      "kafka.broker.host" : "ip-172-31-23-118.ec2.internal",
      "schema.registry.host" : "ip-172-31-17-88.ec2.internal",
      "zookeeper.host" : "ip-172-31-23-118.ec2.internal"
    }
  }
}