real-time-db/real-time-database-ingest.snapshot
{
  "header" : {
    "dataModelVersion" : "2"
  },
  "content" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "dd164c18-384b-39bc-9052-b34faa80b5c6",
        "name" : "AttributesToJSON",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "a8d4e3bc-efa1-3f6c-92bc-6dbc5fa49216",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "d205556c-1417-39e1-bbc5-8eab3840224b",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 1000000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "ba63c418-218d-3eca-bdf5-d48d4ab2239b",
        "name" : "QueryRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "de6a4a69-106b-3e63-9d27-58e3685094d0",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "ce4124b8-f35c-38b4-ba4e-8b29fa383d7b",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "89bb15ea-f98f-3af8-9f21-8614759be818",
        "name" : "ConvertRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "c7b83921-922a-332c-a902-b812b53df0e2",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "dd164c18-384b-39bc-9052-b34faa80b5c6",
        "name" : "AttributesToJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "82942107-a09c-3819-a113-adbba50d0b1c",
        "name" : "HandleHttpResponse",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "e44a8bef-e41a-3725-aa3e-fcacad893e82",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "da7b499a-8dd6-3bee-834f-a1adec043d4b",
        "name" : "ConvertAvroToJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "8c11419f-6d75-3a9e-92f1-e7c6c360ea4a",
        "name" : "PutSQL",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "36854c21-5e03-3534-a7b2-ff2d69510e6c",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "9aafb8a9-7198-30a8-a3d2-fe90479e8093",
        "name" : "ReplaceText",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "9d6f09df-ea5c-36e5-8b71-4aede637887c",
        "name" : "ExecuteSQL",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "0073c105-ea83-3d61-aab4-c6d4b1dcc340",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "be6bf990-bdaf-3eff-9f59-50c9930d1f67",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "be6bf990-bdaf-3eff-9f59-50c9930d1f67",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "49757ffd-270c-3896-9d6f-4df2bd9c5368",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "51331ce7-f6c2-3e00-8c1b-fe08600c98d6",
        "name" : "HandleHttpRequest",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "25592fad-5d35-3c89-8fb0-7cf307966076",
        "name" : "PublishKafkaRecord_1_0",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "9137537c-fade-323e-b243-f931a74cd947",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "modify_schema" ],
      "source" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "ba63c418-218d-3eca-bdf5-d48d4ab2239b",
        "name" : "QueryRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "9aafb8a9-7198-30a8-a3d2-fe90479e8093",
        "name" : "ReplaceText",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "5a121783-d3fe-3323-89dd-33b15c17435a",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "fd9b741b-2def-3f31-8fb8-6b75ea4a20a8",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "8c11419f-6d75-3a9e-92f1-e7c6c360ea4a",
        "name" : "PutSQL",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "2fe67f21-816e-3d89-934b-d7c411985b79",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "83ebfbe2-2d53-35b8-b847-7808701b65ac",
        "name" : "ReplaceText",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "da7b499a-8dd6-3bee-834f-a1adec043d4b",
        "name" : "ConvertAvroToJSON",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "0079522b-24f4-3d56-a8fb-691100e759a3",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "9d6f09df-ea5c-36e5-8b71-4aede637887c",
        "name" : "ExecuteSQL",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "66dc73a8-e14b-3fc1-a2b8-0a71a2b5241c",
        "name" : "CreateSQLOrderUpdate",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "a25f1049-2258-3228-a3da-36d0fda6c856",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "1cce8963-e828-354e-aec4-1101cff939e6",
        "name" : "ConvertRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "1cce8963-e828-354e-aec4-1101cff939e6",
        "name" : "ConvertRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "31038bd8-3b07-3ea0-83b0-256694bada21",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "dd164c18-384b-39bc-9052-b34faa80b5c6",
        "name" : "AttributesToJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "ce4124b8-f35c-38b4-ba4e-8b29fa383d7b",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "6dcca8fe-77fe-3e27-a772-8bbc45d08918",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "dd164c18-384b-39bc-9052-b34faa80b5c6",
        "name" : "AttributesToJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "f2b13ef3-213b-32a5-94b2-3fe71d19c82a",
        "name" : "ConvertAvroToORC",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "37f386ef-6467-3c1e-ab5f-21a7147f2af7",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "merged" ],
      "source" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "cfb8ff98-4ec6-36b5-a695-b607d496ab85",
        "name" : "MergeContent",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "d205556c-1417-39e1-bbc5-8eab3840224b",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "40f70465-6ea0-351a-8487-4ba508754e59",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "f9d60fe6-d4b2-36d5-ae63-1fcebdd30538",
        "name" : "ingest-in",
        "type" : "INPUT_PORT"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "8c18df36-36f1-3857-90ee-a4ac3ebb5615",
        "name" : "CreateOrderbookPhoenixTable",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "4dcae11d-d662-31dd-9f79-833b59c4ad4b",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "e93f02a6-d37d-3956-84fd-527040fbb209",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "b1fff73b-ca5e-3150-81f3-74074434c5ee",
        "name" : "PutHDFS",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "9d793c24-f99d-3d63-af2f-8f8892f944ba",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure", "dropped" ],
      "source" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "a0b45ed4-4c60-3f79-bd81-090c89c773f0",
        "name" : "PutDruidRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "a0b45ed4-4c60-3f79-bd81-090c89c773f0",
        "name" : "PutDruidRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "8dd75b88-80c5-3ad3-b716-d52af4da3771",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "merged" ],
      "source" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "f99d9155-60f7-3754-ab56-3cc421560120",
        "name" : "MergeRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "83ebfbe2-2d53-35b8-b847-7808701b65ac",
        "name" : "ReplaceText",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "d1e9caac-dcbe-3a7b-8b61-13c6af47d7fe",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "sql" ],
      "source" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "66dc73a8-e14b-3fc1-a2b8-0a71a2b5241c",
        "name" : "CreateSQLOrderUpdate",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 100000000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "cfb8ff98-4ec6-36b5-a695-b607d496ab85",
        "name" : "MergeContent",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "8db2f9d1-626a-3c7c-b304-a5a8b405cd9e",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "89bb15ea-f98f-3af8-9f21-8614759be818",
        "name" : "ConvertRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "eb9f992d-d501-3c95-81a9-9302e23eaf77",
        "name" : "PutS3Object",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "ad7379b9-e21f-3f05-9ee1-b47d029c4b0a",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "f2b13ef3-213b-32a5-94b2-3fe71d19c82a",
        "name" : "ConvertAvroToORC",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 1000000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "f99d9155-60f7-3754-ab56-3cc421560120",
        "name" : "MergeRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "18e83f9c-f26f-3501-ba80-10547bd913b5",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "881ef615-0165-1000-ffff-fffff57e78bb",
        "id" : "ce4124b8-f35c-38b4-ba4e-8b29fa383d7b",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ {
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.7.0.3.2.0.0-520"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "055fed0e-8037-3940-97cf-0e876e1a2625",
      "name" : "OrderBookModifiedJsonRecordSetWriter",
      "properties" : {
        "Pretty Print JSON" : "false",
        "Schema Write Strategy" : "full-schema-attribute",
        "suppress-nulls" : "never-suppress",
        "output-grouping" : "output-array",
        "schema-name" : "orderbook_kafka",
        "schema-registry" : "883bdc77-f363-3039-b493-5176d0181ec4",
        "schema-access-strategy" : "inherit-record-schema",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "displayName" : "Pretty Print JSON",
          "identifiesControllerService" : false,
          "name" : "Pretty Print JSON",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "suppress-nulls" : {
          "displayName" : "Suppress Null Values",
          "identifiesControllerService" : false,
          "name" : "suppress-nulls",
          "sensitive" : false
        },
        "output-grouping" : {
          "displayName" : "Output Grouping",
          "identifiesControllerService" : false,
          "name" : "output-grouping",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.json.JsonRecordSetWriter"
    }, {
      "bundle" : {
        "artifact" : "nifi-http-context-map-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.7.0.3.2.0.0-520"
        },
        "type" : "org.apache.nifi.http.HttpContextMap"
      } ],
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "0ce2055d-0881-364a-bd4d-390e71955423",
      "name" : "StandardHttpContextMap",
      "properties" : {
        "Request Expiration" : "1 min",
        "Maximum Outstanding Requests" : "5000"
      },
      "propertyDescriptors" : {
        "Request Expiration" : {
          "displayName" : "Request Expiration",
          "identifiesControllerService" : false,
          "name" : "Request Expiration",
          "sensitive" : false
        },
        "Maximum Outstanding Requests" : {
          "displayName" : "Maximum Outstanding Requests",
          "identifiesControllerService" : false,
          "name" : "Maximum Outstanding Requests",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.http.StandardHttpContextMap"
    }, {
      "bundle" : {
        "artifact" : "nifi-druid-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-druid-controller-service-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.7.0.3.2.0.0-520"
        },
        "type" : "org.apache.nifi.controller.api.druid.DruidTranquilityService"
      } ],
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "5e22f36c-1eed-3f55-bbf3-5a95524ad240",
      "name" : "DruidTranquilityController",
      "properties" : {
        "druid-cs-cluster-partitions" : "1",
        "druid-cs-index-service-path" : "druid/overlord",
        "druid-cs-query-granularity" : "SECOND",
        "druid-cs-window-period" : "PT10M",
        "druid-cs-max-pending-batches" : "5",
        "druid-cs-zk-retry-base-sleep" : "1000",
        "druid-cs-timestamp-field" : "timestamp",
        "druid-cs-discovery-path" : "/druid/discovery",
        "druid-cs-data-source" : "orderbook-raw",
        "druid-cs-linger-millis" : "1000",
        "druid-cs-zk-connect-string" : "${zookeeper.host}:2181",
        "druid-cs-zk-retry-max-retries" : "20",
        "druid-cs-segment-granularity" : "HOUR",
        "druid-cs-zk-retry-sleep" : "30000",
        "druid-cs-batch-size" : "2000",
        "druid-cs-aggregators-descriptor" : "[\n {\n  \"type\" : \"count\",\n  \"name\" : \"count\"\n },\n {\n  \"type\" : \"doubleMax\",\n  \"name\" : \"max_price\",\n  \"fieldName\" : \"price\"\n },\n {\n  \"type\" : \"doubleSum\",\n  \"name\" : \"total_amount\",\n  \"fieldName\" : \"amount\"\n }\n]",
        "druid-cs-dimensions-list" : "symbol,exchange,side",
        "druid-cs-cluster-replication" : "1"
      },
      "propertyDescriptors" : {
        "druid-cs-cluster-partitions" : {
          "displayName" : "Cluster Partitions",
          "identifiesControllerService" : false,
          "name" : "druid-cs-cluster-partitions",
          "sensitive" : false
        },
        "druid-cs-index-service-path" : {
          "displayName" : "Index Service Path",
          "identifiesControllerService" : false,
          "name" : "druid-cs-index-service-path",
          "sensitive" : false
        },
        "druid-cs-query-granularity" : {
          "displayName" : "Query Granularity",
          "identifiesControllerService" : false,
          "name" : "druid-cs-query-granularity",
          "sensitive" : false
        },
        "druid-cs-window-period" : {
          "displayName" : "Late Event Grace Period",
          "identifiesControllerService" : false,
          "name" : "druid-cs-window-period",
          "sensitive" : false
        },
        "druid-cs-max-pending-batches" : {
          "displayName" : "Max Pending Batches",
          "identifiesControllerService" : false,
          "name" : "druid-cs-max-pending-batches",
          "sensitive" : false
        },
        "druid-cs-zk-retry-base-sleep" : {
          "displayName" : "Zookeeper Retry Base Sleep Time",
          "identifiesControllerService" : false,
          "name" : "druid-cs-zk-retry-base-sleep",
          "sensitive" : false
        },
        "druid-cs-timestamp-field" : {
          "displayName" : "Timestamp field",
          "identifiesControllerService" : false,
          "name" : "druid-cs-timestamp-field",
          "sensitive" : false
        },
        "druid-cs-discovery-path" : {
          "displayName" : "Discovery Path",
          "identifiesControllerService" : false,
          "name" : "druid-cs-discovery-path",
          "sensitive" : false
        },
        "druid-cs-data-source" : {
          "displayName" : "Druid Data Source",
          "identifiesControllerService" : false,
          "name" : "druid-cs-data-source",
          "sensitive" : false
        },
        "druid-cs-linger-millis" : {
          "displayName" : "Linger (milliseconds)",
          "identifiesControllerService" : false,
          "name" : "druid-cs-linger-millis",
          "sensitive" : false
        },
        "druid-cs-zk-connect-string" : {
          "displayName" : "Zookeeper Connection String",
          "identifiesControllerService" : false,
          "name" : "druid-cs-zk-connect-string",
          "sensitive" : false
        },
        "druid-cs-zk-retry-max-retries" : {
          "displayName" : "Zookeeper Retry Max Retries",
          "identifiesControllerService" : false,
          "name" : "druid-cs-zk-retry-max-retries",
          "sensitive" : false
        },
        "druid-cs-segment-granularity" : {
          "displayName" : "Segment Granularity",
          "identifiesControllerService" : false,
          "name" : "druid-cs-segment-granularity",
          "sensitive" : false
        },
        "druid-cs-zk-retry-sleep" : {
          "displayName" : "Zookeeper Retry Sleep Time",
          "identifiesControllerService" : false,
          "name" : "druid-cs-zk-retry-sleep",
          "sensitive" : false
        },
        "druid-cs-batch-size" : {
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "name" : "druid-cs-batch-size",
          "sensitive" : false
        },
        "druid-cs-aggregators-descriptor" : {
          "displayName" : "Aggregator JSON",
          "identifiesControllerService" : false,
          "name" : "druid-cs-aggregators-descriptor",
          "sensitive" : false
        },
        "druid-cs-dimensions-list" : {
          "displayName" : "Dimension Fields",
          "identifiesControllerService" : false,
          "name" : "druid-cs-dimensions-list",
          "sensitive" : false
        },
        "druid-cs-cluster-replication" : {
          "displayName" : "Cluster Replication",
          "identifiesControllerService" : false,
          "name" : "druid-cs-cluster-replication",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.controller.druid.DruidTranquilityController"
    }, {
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.7.0.3.2.0.0-520"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "762a7032-3cce-3962-bd41-85b867b8b1c7",
      "name" : "OrderbookJsonTreeReader",
      "properties" : {
        "schema-name" : "${schema.name}",
        "schema-registry" : "883bdc77-f363-3039-b493-5176d0181ec4",
        "schema-access-strategy" : "schema-name",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.json.JsonTreeReader"
    }, {
      "bundle" : {
        "artifact" : "nifi-hwx-schema-registry-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.7.0.3.2.0.0-520"
        },
        "type" : "org.apache.nifi.schemaregistry.services.SchemaRegistry"
      } ],
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "883bdc77-f363-3039-b493-5176d0181ec4",
      "name" : "HortonworksSchemaRegistry",
      "properties" : {
        "cache-expiration" : "1 minute",
        "cache-size" : "1000",
        "url" : "http://${schema.registry.host}:7788/api/v1"
      },
      "propertyDescriptors" : {
        "cache-expiration" : {
          "displayName" : "Cache Expiration",
          "identifiesControllerService" : false,
          "name" : "cache-expiration",
          "sensitive" : false
        },
        "cache-size" : {
          "displayName" : "Cache Size",
          "identifiesControllerService" : false,
          "name" : "cache-size",
          "sensitive" : false
        },
        "url" : {
          "displayName" : "Schema Registry URL",
          "identifiesControllerService" : false,
          "name" : "url",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry"
    }, {
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.7.0.3.2.0.0-520"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "f1aa984c-85d8-3919-b416-808f07de66d0",
      "name" : "OrderBookAvroWriter",
      "properties" : {
        "compression-format" : "NONE",
        "Schema Write Strategy" : "avro-embedded",
        "schema-name" : "${schema.name}",
        "schema-registry" : "883bdc77-f363-3039-b493-5176d0181ec4",
        "schema-access-strategy" : "schema-name",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "compression-format" : {
          "displayName" : "Compression Format",
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.avro.AvroRecordSetWriter"
    }, {
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.7.0.3.2.0.0-520"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "679bd906-4ae4-3a1b-b53c-25cd413a675b",
      "name" : "OrderbookModifiedJsonTreeReader",
      "properties" : {
        "schema-name" : "${schema.name}",
        "schema-registry" : "883bdc77-f363-3039-b493-5176d0181ec4",
        "schema-access-strategy" : "schema-text-property",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.json.JsonTreeReader"
    }, {
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.7.0.3.2.0.0-520"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "86e6e4e8-b148-340b-8e7a-a5fcd66bd388",
      "name" : "OrderBookJsonWriter",
      "properties" : {
        "Pretty Print JSON" : "false",
        "Schema Write Strategy" : "full-schema-attribute",
        "suppress-nulls" : "never-suppress",
        "output-grouping" : "output-array",
        "schema-name" : "${schema.name}",
        "schema-registry" : "883bdc77-f363-3039-b493-5176d0181ec4",
        "schema-access-strategy" : "schema-name",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "displayName" : "Pretty Print JSON",
          "identifiesControllerService" : false,
          "name" : "Pretty Print JSON",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "suppress-nulls" : {
          "displayName" : "Suppress Null Values",
          "identifiesControllerService" : false,
          "name" : "suppress-nulls",
          "sensitive" : false
        },
        "output-grouping" : {
          "displayName" : "Output Grouping",
          "identifiesControllerService" : false,
          "name" : "output-grouping",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.json.JsonRecordSetWriter"
    }, {
      "bundle" : {
        "artifact" : "nifi-dbcp-service-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.7.0.3.2.0.0-520"
        },
        "type" : "org.apache.nifi.dbcp.DBCPService"
      } ],
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "fa1a2bcc-3192-380f-a543-7397c9878a9d",
      "name" : "DBCPConnectionPool-HDP3.0",
      "properties" : {
        "Database Connection URL" : "jdbc:phoenix:${zookeeper.host}:2181:/hbase-unsecure",
        "Max Wait Time" : "500 millis",
        "Database Driver Class Name" : "org.apache.phoenix.jdbc.PhoenixDriver",
        "database-driver-locations" : "/usr/hdf/current/phoenix/phoenix-client-5.0.0.3.0.0.0-1634.jar",
        "Max Total Connections" : "-1"
      },
      "propertyDescriptors" : {
        "Validation-query" : {
          "displayName" : "Validation query",
          "identifiesControllerService" : false,
          "name" : "Validation-query",
          "sensitive" : false
        },
        "Database Connection URL" : {
          "displayName" : "Database Connection URL",
          "identifiesControllerService" : false,
          "name" : "Database Connection URL",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Driver Class Name" : {
          "displayName" : "Database Driver Class Name",
          "identifiesControllerService" : false,
          "name" : "Database Driver Class Name",
          "sensitive" : false
        },
        "Database User" : {
          "displayName" : "Database User",
          "identifiesControllerService" : false,
          "name" : "Database User",
          "sensitive" : false
        },
        "database-driver-locations" : {
          "displayName" : "Database Driver Location(s)",
          "identifiesControllerService" : false,
          "name" : "database-driver-locations",
          "sensitive" : false
        },
        "Max Total Connections" : {
          "displayName" : "Max Total Connections",
          "identifiesControllerService" : false,
          "name" : "Max Total Connections",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
    } ],
    "funnels" : [ ],
    "identifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
    "inputPorts" : [ {
      "comments" : "",
      "componentType" : "INPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "f9d60fe6-d4b2-36d5-ae63-1fcebdd30538",
      "name" : "ingest-in",
      "position" : {
        "x" : 6628.908099976424,
        "y" : 3836.7384278236796
      },
      "type" : "INPUT_PORT"
    } ],
    "labels" : [ ],
    "name" : "real-time-database-ingest",
    "outputPorts" : [ ],
    "position" : {
      "x" : 447.0,
      "y" : -228.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-hive-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "f2b13ef3-213b-32a5-94b2-3fe71d19c82a",
      "name" : "ConvertAvroToORC",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 6580.031516697988,
        "y" : 4942.789406636435
      },
      "properties" : {
        "orc-buffer-size" : "10 KB",
        "orc-compression-type" : "ZLIB",
        "orc-stripe-size" : "64 MB"
      },
      "propertyDescriptors" : {
        "orc-config-resources" : {
          "displayName" : "ORC Configuration Resources",
          "identifiesControllerService" : false,
          "name" : "orc-config-resources",
          "sensitive" : false
        },
        "orc-buffer-size" : {
          "displayName" : "Buffer Size",
          "identifiesControllerService" : false,
          "name" : "orc-buffer-size",
          "sensitive" : false
        },
        "orc-compression-type" : {
          "displayName" : "Compression Type",
          "identifiesControllerService" : false,
          "name" : "orc-compression-type",
          "sensitive" : false
        },
        "orc-stripe-size" : {
          "displayName" : "Stripe Size",
          "identifiesControllerService" : false,
          "name" : "orc-stripe-size",
          "sensitive" : false
        },
        "orc-hive-table-name" : {
          "displayName" : "Hive Table Name",
          "identifiesControllerService" : false,
          "name" : "orc-hive-table-name",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.hive.ConvertAvroToORC",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 30,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "89bb15ea-f98f-3af8-9f21-8614759be818",
      "name" : "ConvertRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 6578.474883334203,
        "y" : 4513.061604233844
      },
      "properties" : {
        "record-writer" : "f1aa984c-85d8-3919-b416-808f07de66d0",
        "record-reader" : "762a7032-3cce-3962-bd41-85b867b8b1c7"
      },
      "propertyDescriptors" : {
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ConvertRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "f99d9155-60f7-3754-ab56-3cc421560120",
      "name" : "MergeRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 6025.572307813916,
        "y" : 4746.0260529701445
      },
      "properties" : {
        "max-bin-age" : "1 hour",
        "Attribute Strategy" : "Keep Only Common Attributes",
        "min-records" : "10",
        "max-bin-size" : "10 MB",
        "record-writer" : "86e6e4e8-b148-340b-8e7a-a5fcd66bd388",
        "merge-strategy" : "Bin-Packing Algorithm",
        "record-reader" : "762a7032-3cce-3962-bd41-85b867b8b1c7",
        "max-records" : "10000",
        "min-bin-size" : "1 MB",
        "max.bin.count" : "5"
      },
      "propertyDescriptors" : {
        "max-bin-age" : {
          "displayName" : "Max Bin Age",
          "identifiesControllerService" : false,
          "name" : "max-bin-age",
          "sensitive" : false
        },
        "correlation-attribute-name" : {
          "displayName" : "Correlation Attribute Name",
          "identifiesControllerService" : false,
          "name" : "correlation-attribute-name",
          "sensitive" : false
        },
        "Attribute Strategy" : {
          "displayName" : "Attribute Strategy",
          "identifiesControllerService" : false,
          "name" : "Attribute Strategy",
          "sensitive" : false
        },
        "min-records" : {
          "displayName" : "Minimum Number of Records",
          "identifiesControllerService" : false,
          "name" : "min-records",
          "sensitive" : false
        },
        "max-bin-size" : {
          "displayName" : "Maximum Bin Size",
          "identifiesControllerService" : false,
          "name" : "max-bin-size",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "merge-strategy" : {
          "displayName" : "Merge Strategy",
          "identifiesControllerService" : false,
          "name" : "merge-strategy",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "max-records" : {
          "displayName" : "Maximum Number of Records",
          "identifiesControllerService" : false,
          "name" : "max-records",
          "sensitive" : false
        },
        "min-bin-size" : {
          "displayName" : "Minimum Bin Size",
          "identifiesControllerService" : false,
          "name" : "min-bin-size",
          "sensitive" : false
        },
        "max.bin.count" : {
          "displayName" : "Maximum Number of Bins",
          "identifiesControllerService" : false,
          "name" : "max.bin.count",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.MergeRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "be6bf990-bdaf-3eff-9f59-50c9930d1f67",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7196.682087036625,
        "y" : 3507.35148490127
      },
      "properties" : {
        "Store State" : "Do not store state"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 20,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "ce4124b8-f35c-38b4-ba4e-8b29fa383d7b",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 6027.712974627646,
        "y" : 4514.972069969784
      },
      "properties" : {
        "Store State" : "Do not store state",
        "inferred.avro.schema" : "${inferred.avro.schema:replaceAll('Type inferred from .+?(?=\\'\")', ''):replaceAll('\\'','')} "
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        },
        "inferred.avro.schema" : {
          "displayName" : "inferred.avro.schema",
          "identifiesControllerService" : false,
          "name" : "inferred.avro.schema",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 20,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "ba63c418-218d-3eca-bdf5-d48d4ab2239b",
      "name" : "QueryRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 5474.517109009281,
        "y" : 4509.517744666895
      },
      "properties" : {
        "cache-schema" : "true",
        "record-writer" : "055fed0e-8037-3940-97cf-0e876e1a2625",
        "record-reader" : "762a7032-3cce-3962-bd41-85b867b8b1c7",
        "include-zero-record-flowfiles" : "true",
        "modify_schema" : "SELECT \"timestamp\" as \"__time\", symbol, exchange, side, price , amount\nFROM FLOWFILE"
      },
      "propertyDescriptors" : {
        "cache-schema" : {
          "displayName" : "Cache Schema",
          "identifiesControllerService" : false,
          "name" : "cache-schema",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "include-zero-record-flowfiles" : {
          "displayName" : "Include Zero Record FlowFiles",
          "identifiesControllerService" : false,
          "name" : "include-zero-record-flowfiles",
          "sensitive" : false
        },
        "modify_schema" : {
          "displayName" : "modify_schema",
          "identifiesControllerService" : false,
          "name" : "modify_schema",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.QueryRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "fd9b741b-2def-3f31-8fb8-6b75ea4a20a8",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7181.081254639837,
        "y" : 5573.182855105014
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "2 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-avro-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "da7b499a-8dd6-3bee-834f-a1adec043d4b",
      "name" : "ConvertAvroToJSON",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7194.352481768379,
        "y" : 3928.5149384638635
      },
      "properties" : {
        "JSON container options" : "array",
        "Wrap Single Record" : "false"
      },
      "propertyDescriptors" : {
        "JSON container options" : {
          "displayName" : "JSON container options",
          "identifiesControllerService" : false,
          "name" : "JSON container options",
          "sensitive" : false
        },
        "Wrap Single Record" : {
          "displayName" : "Wrap Single Record",
          "identifiesControllerService" : false,
          "name" : "Wrap Single Record",
          "sensitive" : false
        },
        "Avro schema" : {
          "displayName" : "Avro schema",
          "identifiesControllerService" : false,
          "name" : "Avro schema",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.avro.ConvertAvroToJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 30,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "dd164c18-384b-39bc-9052-b34faa80b5c6",
      "name" : "AttributesToJSON",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 6578.992002864394,
        "y" : 4274.249038094604
      },
      "properties" : {
        "Destination" : "flowfile-content",
        "Null Value" : "false",
        "Attributes List" : "symbol,exchange,side,price,amount,second,minute,hour,day,month,year,timestamp,timestamp_epoch",
        "Include Core Attributes" : "false"
      },
      "propertyDescriptors" : {
        "attributes-to-json-regex" : {
          "displayName" : "Attributes Regular Expression",
          "identifiesControllerService" : false,
          "name" : "attributes-to-json-regex",
          "sensitive" : false
        },
        "Destination" : {
          "displayName" : "Destination",
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "Null Value" : {
          "displayName" : "Null Value",
          "identifiesControllerService" : false,
          "name" : "Null Value",
          "sensitive" : false
        },
        "Attributes List" : {
          "displayName" : "Attributes List",
          "identifiesControllerService" : false,
          "name" : "Attributes List",
          "sensitive" : false
        },
        "Include Core Attributes" : {
          "displayName" : "Include Core Attributes",
          "identifiesControllerService" : false,
          "name" : "Include Core Attributes",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure", "retry" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 10,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "8c18df36-36f1-3857-90ee-a4ac3ebb5615",
      "name" : "CreateOrderbookPhoenixTable",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 5904.290123065146,
        "y" : 3996.5541012197837
      },
      "properties" : {
        "Support Fragmented Transactions" : "true",
        "putsql-sql-statement" : "CREATE TABLE IF NOT EXISTS ORDERBOOK (\n    exchange VARCHAR NOT NULL,\n    symbol VARCHAR NOT NULL, \n    side VARCHAR NOT NULL,\n    price DOUBLE NOT NULL,\n    amount DOUBLE,\n    timestamp_epoch BIGINT\n    CONSTRAINT pk PRIMARY KEY (exchange, symbol, side, price))\n    SALT_BUCKETS = 9",
        "Batch Size" : "1000",
        "Obtain Generated Keys" : "false",
        "JDBC Connection Pool" : "fa1a2bcc-3192-380f-a543-7397c9878a9d",
        "rollback-on-failure" : "false"
      },
      "propertyDescriptors" : {
        "Support Fragmented Transactions" : {
          "displayName" : "Support Fragmented Transactions",
          "identifiesControllerService" : false,
          "name" : "Support Fragmented Transactions",
          "sensitive" : false
        },
        "putsql-sql-statement" : {
          "displayName" : "SQL Statement",
          "identifiesControllerService" : false,
          "name" : "putsql-sql-statement",
          "sensitive" : false
        },
        "Transaction Timeout" : {
          "displayName" : "Transaction Timeout",
          "identifiesControllerService" : false,
          "name" : "Transaction Timeout",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Obtain Generated Keys" : {
          "displayName" : "Obtain Generated Keys",
          "identifiesControllerService" : false,
          "name" : "Obtain Generated Keys",
          "sensitive" : false
        },
        "JDBC Connection Pool" : {
          "displayName" : "JDBC Connection Pool",
          "identifiesControllerService" : true,
          "name" : "JDBC Connection Pool",
          "sensitive" : false
        },
        "rollback-on-failure" : {
          "displayName" : "Rollback On Failure",
          "identifiesControllerService" : false,
          "name" : "rollback-on-failure",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutSQL",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-hadoop-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "b1fff73b-ca5e-3150-81f3-74074434c5ee",
      "name" : "PutHDFS",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 6030.040866733563,
        "y" : 5153.885394505576
      },
      "properties" : {
        "Hadoop Configuration Resources" : "/usr/hdp/current/hadoop-client/conf/core-site.xml,/usr/hdp/current/hadoop-client/conf/hdfs-site.xml",
        "Compression codec" : "NONE",
        "Kerberos Relogin Period" : "4 hours",
        "Directory" : "/tmp/crypto",
        "Conflict Resolution Strategy" : "fail"
      },
      "propertyDescriptors" : {
        "Permissions umask" : {
          "displayName" : "Permissions umask",
          "identifiesControllerService" : false,
          "name" : "Permissions umask",
          "sensitive" : false
        },
        "Hadoop Configuration Resources" : {
          "displayName" : "Hadoop Configuration Resources",
          "identifiesControllerService" : false,
          "name" : "Hadoop Configuration Resources",
          "sensitive" : false
        },
        "Remote Owner" : {
          "displayName" : "Remote Owner",
          "identifiesControllerService" : false,
          "name" : "Remote Owner",
          "sensitive" : false
        },
        "Additional Classpath Resources" : {
          "displayName" : "Additional Classpath Resources",
          "identifiesControllerService" : false,
          "name" : "Additional Classpath Resources",
          "sensitive" : false
        },
        "Compression codec" : {
          "displayName" : "Compression codec",
          "identifiesControllerService" : false,
          "name" : "Compression codec",
          "sensitive" : false
        },
        "IO Buffer Size" : {
          "displayName" : "IO Buffer Size",
          "identifiesControllerService" : false,
          "name" : "IO Buffer Size",
          "sensitive" : false
        },
        "Remote Group" : {
          "displayName" : "Remote Group",
          "identifiesControllerService" : false,
          "name" : "Remote Group",
          "sensitive" : false
        },
        "Block Size" : {
          "displayName" : "Block Size",
          "identifiesControllerService" : false,
          "name" : "Block Size",
          "sensitive" : false
        },
        "kerberos-credentials-service" : {
          "displayName" : "Kerberos Credentials Service",
          "identifiesControllerService" : true,
          "name" : "kerberos-credentials-service",
          "sensitive" : false
        },
        "Kerberos Keytab" : {
          "displayName" : "Kerberos Keytab",
          "identifiesControllerService" : false,
          "name" : "Kerberos Keytab",
          "sensitive" : false
        },
        "Kerberos Principal" : {
          "displayName" : "Kerberos Principal",
          "identifiesControllerService" : false,
          "name" : "Kerberos Principal",
          "sensitive" : false
        },
        "Replication" : {
          "displayName" : "Replication",
          "identifiesControllerService" : false,
          "name" : "Replication",
          "sensitive" : false
        },
        "Kerberos Relogin Period" : {
          "displayName" : "Kerberos Relogin Period",
          "identifiesControllerService" : false,
          "name" : "Kerberos Relogin Period",
          "sensitive" : false
        },
        "Directory" : {
          "displayName" : "Directory",
          "identifiesControllerService" : false,
          "name" : "Directory",
          "sensitive" : false
        },
        "Conflict Resolution Strategy" : {
          "displayName" : "Conflict Resolution Strategy",
          "identifiesControllerService" : false,
          "name" : "Conflict Resolution Strategy",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.hadoop.PutHDFS",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "82942107-a09c-3819-a113-adbba50d0b1c",
      "name" : "HandleHttpResponse",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7193.518512817875,
        "y" : 4140.945479041895
      },
      "properties" : {
        "HTTP Context Map" : "0ce2055d-0881-364a-bd4d-390e71955423",
        "HTTP Status Code" : "200"
      },
      "propertyDescriptors" : {
        "HTTP Context Map" : {
          "displayName" : "HTTP Context Map",
          "identifiesControllerService" : true,
          "name" : "HTTP Context Map",
          "sensitive" : false
        },
        "HTTP Status Code" : {
          "displayName" : "HTTP Status Code",
          "identifiesControllerService" : false,
          "name" : "HTTP Status Code",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.HandleHttpResponse",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-kafka-1-0-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 20,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "25592fad-5d35-3c89-8fb0-7cf307966076",
      "name" : "PublishKafkaRecord_1_0",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 5474.517109009281,
        "y" : 4758.517744666895
      },
      "properties" : {
        "compression.type" : "none",
        "ack.wait.time" : "5 secs",
        "use-transactions" : "false",
        "record-writer" : "055fed0e-8037-3940-97cf-0e876e1a2625",
        "acks" : "0",
        "bootstrap.servers" : "${kafka.broker.host}:6667",
        "security.protocol" : "PLAINTEXT",
        "max.request.size" : "1 MB",
        "max.block.ms" : "5 sec",
        "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
        "topic" : "orderbook",
        "record-reader" : "679bd906-4ae4-3a1b-b53c-25cd413a675b",
        "message-header-encoding" : "UTF-8"
      },
      "propertyDescriptors" : {
        "compression.type" : {
          "displayName" : "Compression Type",
          "identifiesControllerService" : false,
          "name" : "compression.type",
          "sensitive" : false
        },
        "ack.wait.time" : {
          "displayName" : "Acknowledgment Wait Time",
          "identifiesControllerService" : false,
          "name" : "ack.wait.time",
          "sensitive" : false
        },
        "use-transactions" : {
          "displayName" : "Use Transactions",
          "identifiesControllerService" : false,
          "name" : "use-transactions",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "acks" : {
          "displayName" : "Delivery Guarantee",
          "identifiesControllerService" : false,
          "name" : "acks",
          "sensitive" : false
        },
        "bootstrap.servers" : {
          "displayName" : "Kafka Brokers",
          "identifiesControllerService" : false,
          "name" : "bootstrap.servers",
          "sensitive" : false
        },
        "sasl.kerberos.principal" : {
          "displayName" : "Kerberos Principal",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.principal",
          "sensitive" : false
        },
        "sasl.kerberos.service.name" : {
          "displayName" : "Kerberos Service Name",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.service.name",
          "sensitive" : false
        },
        "security.protocol" : {
          "displayName" : "Security Protocol",
          "identifiesControllerService" : false,
          "name" : "security.protocol",
          "sensitive" : false
        },
        "kerberos-credentials-service" : {
          "displayName" : "Kerberos Credentials Service",
          "identifiesControllerService" : true,
          "name" : "kerberos-credentials-service",
          "sensitive" : false
        },
        "ssl.context.service" : {
          "displayName" : "SSL Context Service",
          "identifiesControllerService" : true,
          "name" : "ssl.context.service",
          "sensitive" : false
        },
        "max.request.size" : {
          "displayName" : "Max Request Size",
          "identifiesControllerService" : false,
          "name" : "max.request.size",
          "sensitive" : false
        },
        "message-key-field" : {
          "displayName" : "Message Key Field",
          "identifiesControllerService" : false,
          "name" : "message-key-field",
          "sensitive" : false
        },
        "max.block.ms" : {
          "displayName" : "Max Metadata Wait Time",
          "identifiesControllerService" : false,
          "name" : "max.block.ms",
          "sensitive" : false
        },
        "partitioner.class" : {
          "displayName" : "Partitioner class",
          "identifiesControllerService" : false,
          "name" : "partitioner.class",
          "sensitive" : false
        },
        "sasl.kerberos.keytab" : {
          "displayName" : "Kerberos Keytab",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.keytab",
          "sensitive" : false
        },
        "topic" : {
          "displayName" : "Topic Name",
          "identifiesControllerService" : false,
          "name" : "topic",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "message-header-encoding" : {
          "displayName" : "Message Header Encoding",
          "identifiesControllerService" : false,
          "name" : "message-header-encoding",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_1_0",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-aws-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "eb9f992d-d501-3c95-81a9-9302e23eaf77",
      "name" : "PutS3Object",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 6579.872059119682,
        "y" : 5152.238019389509
      },
      "properties" : {
        "FullControl User List" : "${s3.permissions.full.users}",
        "Owner" : "${s3.owner}",
        "s3-object-remove-tags-prefix" : "false",
        "Multipart Upload Max Age Threshold" : "7 days",
        "canned-acl" : "${s3.permissions.cannedacl}",
        "Signer Override" : "Default Signature",
        "Write ACL User List" : "${s3.permissions.writeacl.users}",
        "server-side-encryption" : "None",
        "Read ACL User List" : "${s3.permissions.readacl.users}",
        "Storage Class" : "Standard",
        "Multipart Part Size" : "5 GB",
        "Object Key" : "${filename}",
        "Multipart Threshold" : "5 GB",
        "Bucket" : "shared-warehouse/orderbook/year=${year}/month=${month}/day=${day}/hour=${hour}/minute=${minute}",
        "Multipart Upload AgeOff Interval" : "60 min",
        "Write Permission User List" : "${s3.permissions.write.users}",
        "Communications Timeout" : "30 secs",
        "Region" : "us-east-1",
        "Read Permission User List" : "${s3.permissions.read.users}"
      },
      "propertyDescriptors" : {
        "Proxy Host" : {
          "displayName" : "Proxy Host",
          "identifiesControllerService" : false,
          "name" : "Proxy Host",
          "sensitive" : false
        },
        "FullControl User List" : {
          "displayName" : "FullControl User List",
          "identifiesControllerService" : false,
          "name" : "FullControl User List",
          "sensitive" : false
        },
        "Owner" : {
          "displayName" : "Owner",
          "identifiesControllerService" : false,
          "name" : "Owner",
          "sensitive" : false
        },
        "Access Key" : {
          "displayName" : "Access Key",
          "identifiesControllerService" : false,
          "name" : "Access Key",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "s3-object-remove-tags-prefix" : {
          "displayName" : "Remove Tag Prefix",
          "identifiesControllerService" : false,
          "name" : "s3-object-remove-tags-prefix",
          "sensitive" : false
        },
        "Endpoint Override URL" : {
          "displayName" : "Endpoint Override URL",
          "identifiesControllerService" : false,
          "name" : "Endpoint Override URL",
          "sensitive" : false
        },
        "Multipart Upload Max Age Threshold" : {
          "displayName" : "Multipart Upload Max Age Threshold",
          "identifiesControllerService" : false,
          "name" : "Multipart Upload Max Age Threshold",
          "sensitive" : false
        },
        "canned-acl" : {
          "displayName" : "Canned ACL",
          "identifiesControllerService" : false,
          "name" : "canned-acl",
          "sensitive" : false
        },
        "Signer Override" : {
          "displayName" : "Signer Override",
          "identifiesControllerService" : false,
          "name" : "Signer Override",
          "sensitive" : false
        },
        "proxy-user-password" : {
          "displayName" : "Proxy Password",
          "identifiesControllerService" : false,
          "name" : "proxy-user-password",
          "sensitive" : false
        },
        "Content Type" : {
          "displayName" : "Content Type",
          "identifiesControllerService" : false,
          "name" : "Content Type",
          "sensitive" : false
        },
        "Secret Key" : {
          "displayName" : "Secret Key",
          "identifiesControllerService" : false,
          "name" : "Secret Key",
          "sensitive" : false
        },
        "Write ACL User List" : {
          "displayName" : "Write ACL User List",
          "identifiesControllerService" : false,
          "name" : "Write ACL User List",
          "sensitive" : false
        },
        "server-side-encryption" : {
          "displayName" : "Server Side Encryption",
          "identifiesControllerService" : false,
          "name" : "server-side-encryption",
          "sensitive" : false
        },
        "Read ACL User List" : {
          "displayName" : "Read ACL User List",
          "identifiesControllerService" : false,
          "name" : "Read ACL User List",
          "sensitive" : false
        },
        "Storage Class" : {
          "displayName" : "Storage Class",
          "identifiesControllerService" : false,
          "name" : "Storage Class",
          "sensitive" : false
        },
        "Multipart Part Size" : {
          "displayName" : "Multipart Part Size",
          "identifiesControllerService" : false,
          "name" : "Multipart Part Size",
          "sensitive" : false
        },
        "Object Key" : {
          "displayName" : "Object Key",
          "identifiesControllerService" : false,
          "name" : "Object Key",
          "sensitive" : false
        },
        "AWS Credentials Provider service" : {
          "displayName" : "AWS Credentials Provider service",
          "identifiesControllerService" : true,
          "name" : "AWS Credentials Provider service",
          "sensitive" : false
        },
        "Multipart Threshold" : {
          "displayName" : "Multipart Threshold",
          "identifiesControllerService" : false,
          "name" : "Multipart Threshold",
          "sensitive" : false
        },
        "s3-object-tags-prefix" : {
          "displayName" : "Object Tags Prefix",
          "identifiesControllerService" : false,
          "name" : "s3-object-tags-prefix",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Bucket" : {
          "displayName" : "Bucket",
          "identifiesControllerService" : false,
          "name" : "Bucket",
          "sensitive" : false
        },
        "Multipart Upload AgeOff Interval" : {
          "displayName" : "Multipart Upload AgeOff Interval",
          "identifiesControllerService" : false,
          "name" : "Multipart Upload AgeOff Interval",
          "sensitive" : false
        },
        "Write Permission User List" : {
          "displayName" : "Write Permission User List",
          "identifiesControllerService" : false,
          "name" : "Write Permission User List",
          "sensitive" : false
        },
        "Communications Timeout" : {
          "displayName" : "Communications Timeout",
          "identifiesControllerService" : false,
          "name" : "Communications Timeout",
          "sensitive" : false
        },
        "Credentials File" : {
          "displayName" : "Credentials File",
          "identifiesControllerService" : false,
          "name" : "Credentials File",
          "sensitive" : false
        },
        "Region" : {
          "displayName" : "Region",
          "identifiesControllerService" : false,
          "name" : "Region",
          "sensitive" : false
        },
        "Read Permission User List" : {
          "displayName" : "Read Permission User List",
          "identifiesControllerService" : false,
          "name" : "Read Permission User List",
          "sensitive" : false
        },
        "Expiration Time Rule" : {
          "displayName" : "Expiration Time Rule",
          "identifiesControllerService" : false,
          "name" : "Expiration Time Rule",
          "sensitive" : false
        },
        "proxy-user-name" : {
          "displayName" : "Proxy Username",
          "identifiesControllerService" : false,
          "name" : "proxy-user-name",
          "sensitive" : false
        },
        "Proxy Host Port" : {
          "displayName" : "Proxy Host Port",
          "identifiesControllerService" : false,
          "name" : "Proxy Host Port",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.aws.s3.PutS3Object",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "e93f02a6-d37d-3956-84fd-527040fbb209",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 5909.448857177269,
        "y" : 3788.1856617198387
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "100 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "83ebfbe2-2d53-35b8-b847-7808701b65ac",
      "name" : "ReplaceText",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7187.447623621727,
        "y" : 4947.587637660989
      },
      "properties" : {
        "Regular Expression" : "INSERT",
        "Replacement Value" : "UPSERT",
        "Evaluation Mode" : "Entire text",
        "Character Set" : "UTF-8",
        "Maximum Buffer Size" : "1 MB",
        "Replacement Strategy" : "Regex Replace"
      },
      "propertyDescriptors" : {
        "Regular Expression" : {
          "displayName" : "Search Value",
          "identifiesControllerService" : false,
          "name" : "Regular Expression",
          "sensitive" : false
        },
        "Replacement Value" : {
          "displayName" : "Replacement Value",
          "identifiesControllerService" : false,
          "name" : "Replacement Value",
          "sensitive" : false
        },
        "Evaluation Mode" : {
          "displayName" : "Evaluation Mode",
          "identifiesControllerService" : false,
          "name" : "Evaluation Mode",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Maximum Buffer Size" : {
          "displayName" : "Maximum Buffer Size",
          "identifiesControllerService" : false,
          "name" : "Maximum Buffer Size",
          "sensitive" : false
        },
        "Replacement Strategy" : {
          "displayName" : "Replacement Strategy",
          "identifiesControllerService" : false,
          "name" : "Replacement Strategy",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ReplaceText",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-druid-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 5,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "a0b45ed4-4c60-3f79-bd81-090c89c773f0",
      "name" : "PutDruidRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 6026.514167607101,
        "y" : 4942.9635380393465
      },
      "properties" : {
        "putdruid-record-writer" : "86e6e4e8-b148-340b-8e7a-a5fcd66bd388",
        "putdruid-record-reader" : "762a7032-3cce-3962-bd41-85b867b8b1c7",
        "putdruid-tranquility-service" : "5e22f36c-1eed-3f55-bbf3-5a95524ad240"
      },
      "propertyDescriptors" : {
        "putdruid-record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "putdruid-record-writer",
          "sensitive" : false
        },
        "putdruid-record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "putdruid-record-reader",
          "sensitive" : false
        },
        "putdruid-tranquility-service" : {
          "displayName" : "Tranquility Service",
          "identifiesControllerService" : true,
          "name" : "putdruid-tranquility-service",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.druid.PutDruidRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "51331ce7-f6c2-3e00-8c1b-fe08600c98d6",
      "name" : "HandleHttpRequest",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7196.993610474125,
        "y" : 3282.309736854395
      },
      "properties" : {
        "Allow POST" : "true",
        "Default URL Character Set" : "UTF-8",
        "Allow DELETE" : "false",
        "container-queue-size" : "50",
        "HTTP Context Map" : "0ce2055d-0881-364a-bd4d-390e71955423",
        "Allow OPTIONS" : "false",
        "Allow GET" : "true",
        "Allow HEAD" : "false",
        "Listening Port" : "8123",
        "Client Authentication" : "No Authentication",
        "Allow PUT" : "false"
      },
      "propertyDescriptors" : {
        "Allow POST" : {
          "displayName" : "Allow POST",
          "identifiesControllerService" : false,
          "name" : "Allow POST",
          "sensitive" : false
        },
        "Hostname" : {
          "displayName" : "Hostname",
          "identifiesControllerService" : false,
          "name" : "Hostname",
          "sensitive" : false
        },
        "Default URL Character Set" : {
          "displayName" : "Default URL Character Set",
          "identifiesControllerService" : false,
          "name" : "Default URL Character Set",
          "sensitive" : false
        },
        "Allow DELETE" : {
          "displayName" : "Allow DELETE",
          "identifiesControllerService" : false,
          "name" : "Allow DELETE",
          "sensitive" : false
        },
        "Additional HTTP Methods" : {
          "displayName" : "Additional HTTP Methods",
          "identifiesControllerService" : false,
          "name" : "Additional HTTP Methods",
          "sensitive" : false
        },
        "container-queue-size" : {
          "displayName" : "Container Queue Size",
          "identifiesControllerService" : false,
          "name" : "container-queue-size",
          "sensitive" : false
        },
        "HTTP Context Map" : {
          "displayName" : "HTTP Context Map",
          "identifiesControllerService" : true,
          "name" : "HTTP Context Map",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Allow OPTIONS" : {
          "displayName" : "Allow OPTIONS",
          "identifiesControllerService" : false,
          "name" : "Allow OPTIONS",
          "sensitive" : false
        },
        "Allowed Paths" : {
          "displayName" : "Allowed Paths",
          "identifiesControllerService" : false,
          "name" : "Allowed Paths",
          "sensitive" : false
        },
        "Allow GET" : {
          "displayName" : "Allow GET",
          "identifiesControllerService" : false,
          "name" : "Allow GET",
          "sensitive" : false
        },
        "Allow HEAD" : {
          "displayName" : "Allow HEAD",
          "identifiesControllerService" : false,
          "name" : "Allow HEAD",
          "sensitive" : false
        },
        "Listening Port" : {
          "displayName" : "Listening Port",
          "identifiesControllerService" : false,
          "name" : "Listening Port",
          "sensitive" : false
        },
        "Client Authentication" : {
          "displayName" : "Client Authentication",
          "identifiesControllerService" : false,
          "name" : "Client Authentication",
          "sensitive" : false
        },
        "Allow PUT" : {
          "displayName" : "Allow PUT",
          "identifiesControllerService" : false,
          "name" : "Allow PUT",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.HandleHttpRequest",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "9aafb8a9-7198-30a8-a3d2-fe90479e8093",
      "name" : "ReplaceText",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7185.644485715646,
        "y" : 5378.797033750318
      },
      "properties" : {
        "Regular Expression" : "*",
        "Replacement Value" : "DELETE FROM ORDERBOOK_TRIANGLES WHERE (TO_NUMBER(NOW())-TIMESTAMP_EPOCH) > 5000",
        "Evaluation Mode" : "Entire text",
        "Character Set" : "UTF-8",
        "Maximum Buffer Size" : "1 MB",
        "Replacement Strategy" : "Always Replace"
      },
      "propertyDescriptors" : {
        "Regular Expression" : {
          "displayName" : "Search Value",
          "identifiesControllerService" : false,
          "name" : "Regular Expression",
          "sensitive" : false
        },
        "Replacement Value" : {
          "displayName" : "Replacement Value",
          "identifiesControllerService" : false,
          "name" : "Replacement Value",
          "sensitive" : false
        },
        "Evaluation Mode" : {
          "displayName" : "Evaluation Mode",
          "identifiesControllerService" : false,
          "name" : "Evaluation Mode",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Maximum Buffer Size" : {
          "displayName" : "Maximum Buffer Size",
          "identifiesControllerService" : false,
          "name" : "Maximum Buffer Size",
          "sensitive" : false
        },
        "Replacement Strategy" : {
          "displayName" : "Replacement Strategy",
          "identifiesControllerService" : false,
          "name" : "Replacement Strategy",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "1 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ReplaceText",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "cfb8ff98-4ec6-36b5-a695-b607d496ab85",
      "name" : "MergeContent",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 6580.030920583633,
        "y" : 4746.129537539839
      },
      "properties" : {
        "Keep Path" : "false",
        "Maximum Group Size" : "128 MB",
        "Merge Strategy" : "Bin-Packing Algorithm",
        "Attribute Strategy" : "Keep Only Common Attributes",
        "Compression Level" : "1",
        "Maximum Number of Entries" : "100000000",
        "Minimum Group Size" : "64 MB",
        "Maximum number of Bins" : "10",
        "Tar Modified Time" : "${file.lastModifiedTime}",
        "Delimiter Strategy" : "Filename",
        "Merge Format" : "Avro",
        "Correlation Attribute Name" : "partition_name",
        "mergecontent-metadata-strategy" : "Do Not Merge Uncommon Metadata",
        "Minimum Number of Entries" : "1"
      },
      "propertyDescriptors" : {
        "Keep Path" : {
          "displayName" : "Keep Path",
          "identifiesControllerService" : false,
          "name" : "Keep Path",
          "sensitive" : false
        },
        "Maximum Group Size" : {
          "displayName" : "Maximum Group Size",
          "identifiesControllerService" : false,
          "name" : "Maximum Group Size",
          "sensitive" : false
        },
        "Merge Strategy" : {
          "displayName" : "Merge Strategy",
          "identifiesControllerService" : false,
          "name" : "Merge Strategy",
          "sensitive" : false
        },
        "Attribute Strategy" : {
          "displayName" : "Attribute Strategy",
          "identifiesControllerService" : false,
          "name" : "Attribute Strategy",
          "sensitive" : false
        },
        "Compression Level" : {
          "displayName" : "Compression Level",
          "identifiesControllerService" : false,
          "name" : "Compression Level",
          "sensitive" : false
        },
        "Maximum Number of Entries" : {
          "displayName" : "Maximum Number of Entries",
          "identifiesControllerService" : false,
          "name" : "Maximum Number of Entries",
          "sensitive" : false
        },
        "Minimum Group Size" : {
          "displayName" : "Minimum Group Size",
          "identifiesControllerService" : false,
          "name" : "Minimum Group Size",
          "sensitive" : false
        },
        "Maximum number of Bins" : {
          "displayName" : "Maximum number of Bins",
          "identifiesControllerService" : false,
          "name" : "Maximum number of Bins",
          "sensitive" : false
        },
        "Tar Modified Time" : {
          "displayName" : "Tar Modified Time",
          "identifiesControllerService" : false,
          "name" : "Tar Modified Time",
          "sensitive" : false
        },
        "Delimiter Strategy" : {
          "displayName" : "Delimiter Strategy",
          "identifiesControllerService" : false,
          "name" : "Delimiter Strategy",
          "sensitive" : false
        },
        "Merge Format" : {
          "displayName" : "Merge Format",
          "identifiesControllerService" : false,
          "name" : "Merge Format",
          "sensitive" : false
        },
        "Footer File" : {
          "displayName" : "Footer",
          "identifiesControllerService" : false,
          "name" : "Footer File",
          "sensitive" : false
        },
        "Max Bin Age" : {
          "displayName" : "Max Bin Age",
          "identifiesControllerService" : false,
          "name" : "Max Bin Age",
          "sensitive" : false
        },
        "Demarcator File" : {
          "displayName" : "Demarcator",
          "identifiesControllerService" : false,
          "name" : "Demarcator File",
          "sensitive" : false
        },
        "Correlation Attribute Name" : {
          "displayName" : "Correlation Attribute Name",
          "identifiesControllerService" : false,
          "name" : "Correlation Attribute Name",
          "sensitive" : false
        },
        "Header File" : {
          "displayName" : "Header",
          "identifiesControllerService" : false,
          "name" : "Header File",
          "sensitive" : false
        },
        "mergecontent-metadata-strategy" : {
          "displayName" : "Metadata Strategy",
          "identifiesControllerService" : false,
          "name" : "mergecontent-metadata-strategy",
          "sensitive" : false
        },
        "Minimum Number of Entries" : {
          "displayName" : "Minimum Number of Entries",
          "identifiesControllerService" : false,
          "name" : "Minimum Number of Entries",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.MergeContent",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 20,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "d205556c-1417-39e1-bbc5-8eab3840224b",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 6576.956798486495,
        "y" : 4029.6090112658894
      },
      "properties" : {
        "Store State" : "Do not store state",
        "year" : "${timestamp:format(\"yyyy\", \"GMT\")}",
        "minute" : "${timestamp:format(\"mm\", \"GMT\")}",
        "second" : "${timestamp:format(\"ss\", \"GMT\")}",
        "timestamp_epoch" : "${timestamp:toNumber()}",
        "hour" : "${timestamp:format(\"HH\", \"GMT\")}",
        "month" : "${timestamp:format(\"MM\", \"GMT\")}",
        "schema.name" : "orderbook",
        "day" : "${timestamp:format(\"dd\", \"GMT\")}",
        "partition_name" : "${timestamp:format(\"yyyy\", \"GMT\")}-${timestamp:format(\"MM\", \"GMT\")}-${timestamp:format(\"dd\", \"GMT\")}-${timestamp:format(\"HH\", \"GMT\")}-${timestamp:format(\"mm\", \"GMT\")}",
        "timestamp" : "${timestamp:format(\"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'\", \"GMT\")}"
      },
      "propertyDescriptors" : {
        "Store State" : {
          "displayName" : "Store State",
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "year" : {
          "displayName" : "year",
          "identifiesControllerService" : false,
          "name" : "year",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        },
        "minute" : {
          "displayName" : "minute",
          "identifiesControllerService" : false,
          "name" : "minute",
          "sensitive" : false
        },
        "second" : {
          "displayName" : "second",
          "identifiesControllerService" : false,
          "name" : "second",
          "sensitive" : false
        },
        "timestamp_epoch" : {
          "displayName" : "timestamp_epoch",
          "identifiesControllerService" : false,
          "name" : "timestamp_epoch",
          "sensitive" : false
        },
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "hour" : {
          "displayName" : "hour",
          "identifiesControllerService" : false,
          "name" : "hour",
          "sensitive" : false
        },
        "month" : {
          "displayName" : "month",
          "identifiesControllerService" : false,
          "name" : "month",
          "sensitive" : false
        },
        "schema.name" : {
          "displayName" : "schema.name",
          "identifiesControllerService" : false,
          "name" : "schema.name",
          "sensitive" : false
        },
        "day" : {
          "displayName" : "day",
          "identifiesControllerService" : false,
          "name" : "day",
          "sensitive" : false
        },
        "partition_name" : {
          "displayName" : "partition_name",
          "identifiesControllerService" : false,
          "name" : "partition_name",
          "sensitive" : false
        },
        "timestamp" : {
          "displayName" : "timestamp",
          "identifiesControllerService" : false,
          "name" : "timestamp",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 30,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "1cce8963-e828-354e-aec4-1101cff939e6",
      "name" : "ConvertRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7182.487578646703,
        "y" : 4516.642658921344
      },
      "properties" : {
        "record-writer" : "86e6e4e8-b148-340b-8e7a-a5fcd66bd388",
        "record-reader" : "762a7032-3cce-3962-bd41-85b867b8b1c7"
      },
      "propertyDescriptors" : {
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ConvertRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "9d6f09df-ea5c-36e5-8b71-4aede637887c",
      "name" : "ExecuteSQL",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7198.705036255375,
        "y" : 3726.39982474502
      },
      "properties" : {
        "SQL select query" : "select * from orderbook order by timestamp_epoch desc limit 10",
        "dbf-default-precision" : "10",
        "Max Wait Time" : "0 seconds",
        "Database Connection Pooling Service" : "fa1a2bcc-3192-380f-a543-7397c9878a9d",
        "dbf-normalize" : "false",
        "dbf-user-logical-types" : "false",
        "dbf-default-scale" : "0"
      },
      "propertyDescriptors" : {
        "SQL select query" : {
          "displayName" : "SQL select query",
          "identifiesControllerService" : false,
          "name" : "SQL select query",
          "sensitive" : false
        },
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Connection Pooling Service" : {
          "displayName" : "Database Connection Pooling Service",
          "identifiesControllerService" : true,
          "name" : "Database Connection Pooling Service",
          "sensitive" : false
        },
        "dbf-normalize" : {
          "displayName" : "Normalize Table/Column Names",
          "identifiesControllerService" : false,
          "name" : "dbf-normalize",
          "sensitive" : false
        },
        "dbf-user-logical-types" : {
          "displayName" : "Use Avro Logical Types",
          "identifiesControllerService" : false,
          "name" : "dbf-user-logical-types",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure", "retry" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 30,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "8c11419f-6d75-3a9e-92f1-e7c6c360ea4a",
      "name" : "PutSQL",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7187.827232440146,
        "y" : 5153.975976219784
      },
      "properties" : {
        "Support Fragmented Transactions" : "true",
        "Batch Size" : "1000",
        "Obtain Generated Keys" : "false",
        "JDBC Connection Pool" : "fa1a2bcc-3192-380f-a543-7397c9878a9d",
        "rollback-on-failure" : "false"
      },
      "propertyDescriptors" : {
        "Support Fragmented Transactions" : {
          "displayName" : "Support Fragmented Transactions",
          "identifiesControllerService" : false,
          "name" : "Support Fragmented Transactions",
          "sensitive" : false
        },
        "putsql-sql-statement" : {
          "displayName" : "SQL Statement",
          "identifiesControllerService" : false,
          "name" : "putsql-sql-statement",
          "sensitive" : false
        },
        "Transaction Timeout" : {
          "displayName" : "Transaction Timeout",
          "identifiesControllerService" : false,
          "name" : "Transaction Timeout",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Obtain Generated Keys" : {
          "displayName" : "Obtain Generated Keys",
          "identifiesControllerService" : false,
          "name" : "Obtain Generated Keys",
          "sensitive" : false
        },
        "JDBC Connection Pool" : {
          "displayName" : "JDBC Connection Pool",
          "identifiesControllerService" : true,
          "name" : "JDBC Connection Pool",
          "sensitive" : false
        },
        "rollback-on-failure" : {
          "displayName" : "Rollback On Failure",
          "identifiesControllerService" : false,
          "name" : "rollback-on-failure",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutSQL",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 20,
      "executionNode" : "ALL",
      "groupIdentifier" : "77faebe1-d4d1-366a-b1f8-c61540043893",
      "identifier" : "66dc73a8-e14b-3fc1-a2b8-0a71a2b5241c",
      "name" : "CreateSQLOrderUpdate",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7188.949792846368,
        "y" : 4745.402374413368
      },
      "properties" : {
        "Table Name" : "ORDERBOOK",
        "Unmatched Field Behavior" : "Ignore Unmatched Fields",
        "Unmatched Column Behavior" : "Warn on Unmatched Columns",
        "jts-quoted-identifiers" : "false",
        "jts-quoted-table-identifiers" : "false",
        "JDBC Connection Pool" : "fa1a2bcc-3192-380f-a543-7397c9878a9d",
        "Translate Field Names" : "true",
        "jts-sql-param-attr-prefix" : "sql",
        "Statement Type" : "INSERT"
      },
      "propertyDescriptors" : {
        "Table Name" : {
          "displayName" : "Table Name",
          "identifiesControllerService" : false,
          "name" : "Table Name",
          "sensitive" : false
        },
        "Unmatched Field Behavior" : {
          "displayName" : "Unmatched Field Behavior",
          "identifiesControllerService" : false,
          "name" : "Unmatched Field Behavior",
          "sensitive" : false
        },
        "Unmatched Column Behavior" : {
          "displayName" : "Unmatched Column Behavior",
          "identifiesControllerService" : false,
          "name" : "Unmatched Column Behavior",
          "sensitive" : false
        },
        "jts-quoted-identifiers" : {
          "displayName" : "Quote Column Identifiers",
          "identifiesControllerService" : false,
          "name" : "jts-quoted-identifiers",
          "sensitive" : false
        },
        "jts-quoted-table-identifiers" : {
          "displayName" : "Quote Table Identifiers",
          "identifiesControllerService" : false,
          "name" : "jts-quoted-table-identifiers",
          "sensitive" : false
        },
        "JDBC Connection Pool" : {
          "displayName" : "JDBC Connection Pool",
          "identifiesControllerService" : true,
          "name" : "JDBC Connection Pool",
          "sensitive" : false
        },
        "Catalog Name" : {
          "displayName" : "Catalog Name",
          "identifiesControllerService" : false,
          "name" : "Catalog Name",
          "sensitive" : false
        },
        "Update Keys" : {
          "displayName" : "Update Keys",
          "identifiesControllerService" : false,
          "name" : "Update Keys",
          "sensitive" : false
        },
        "Translate Field Names" : {
          "displayName" : "Translate Field Names",
          "identifiesControllerService" : false,
          "name" : "Translate Field Names",
          "sensitive" : false
        },
        "jts-sql-param-attr-prefix" : {
          "displayName" : "SQL Parameter Attribute Prefix",
          "identifiesControllerService" : false,
          "name" : "jts-sql-param-attr-prefix",
          "sensitive" : false
        },
        "Statement Type" : {
          "displayName" : "Statement Type",
          "identifiesControllerService" : false,
          "name" : "Statement Type",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ConvertJSONToSQL",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "variables" : {
      "kafka.broker.host" : "ip-172-31-23-118.ec2.internal",
      "schema.registry.host" : "ip-172-31-17-88.ec2.internal",
      "zookeeper.host" : "ip-172-31-23-118.ec2.internal"
    }
  }
}